In [44]:
import numpy as np
import pandas as pd
import re

In [107]:
flats_pkl = pd.read_csv("data/flats_pkl.csv")
df = flats_pkl.copy()

In [108]:
pd.options.display.max_columns = None

In [109]:
df.head()

,property_id,property_name,property_type,link,Society,address1,address2,PricePerUnit,area,area_unit,bedRoom,bathroom,balcony,additionalRoom,facing,noOfFloor,Overlooking,agePossession,Flooring,GatedCommunity,Furnishing,RoadFacing,Parking,WaterSource,PowerBackup,WheelChairFriendly,PetFriendly,description,furnishDetails,features,price
0,W76639483,3BHK 3Baths,Independent/Builder Floor for Sale,https://www.99acres.com/3-bhk-bedroom-independ...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","8,000 per sq.ft.",Super Built up area 1750(162.58 sq.m.) sq.ft.,sq.ft.,3 Bedrooms,3 Bathrooms,3 Balconies,Store Room,East,2nd of 2 Floors,Main Road,5 to 10 Year Old,Ceramic,Yes,Unfurnished,80.0 Feet,1 Open,24*7 Water,Full,NaN,NaN,Located in the foothills of the shivalik range...,NaN,"['Security / Fire Alarm', 'Maintenance Staff',...",1.4 Cr
1,J75852183,3BHK 3Baths,Independent/Builder Floor for Sale,https://www.99acres.com/3-bhk-bedroom-independ...,NaN,"pkl, Sector 7 Panchkula, Panchkula, Haryana","Sector 7 Panchkula, Panchkula, Haryana","15,806 per sq.ft.",Super Built up area 1800(167.23 sq.m.)Carpet a...,sq.ft.,3 Bedrooms,3 Bathrooms,2 Balconies,NaN,South-West,4th of 4 Floors,Main Road,1 to 5 Year Old,Marble,NaN,Semifurnished,50.0 Feet,"2 Covered, 1 Open",Municipal corporation,NaN,NaN,NaN,On prime b road right next to chandigarh entry...,"['3 Wardrobe', '7 Fan', '1 Exhaust Fan', '6 Li...","['Water Storage', 'Rain Water Harvesting']",2.45 Cr
2,M75685609,3BHK 3Baths,Flat/Apartment for Sale,https://www.99acres.com/3-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","7,714 per sq.ft.",Super Built up area 1750(162.58 sq.m.) sq.ft.,sq.ft.,3 Bedrooms,3 Bathrooms,2 Balconies,Servant Room,NaN,1st of 2 Floors,NaN,1 to 5 Year Old,NaN,NaN,Semifurnished,NaN,NaN,NaN,NaN,NaN,NaN,This 3 bhk apartment is available for sale in ...,"['2 Wardrobe', '1 Modular Kitchen', 'No AC', '...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...",1.35 Cr
3,O75685647,3BHK 3Baths,Flat/Apartment for Sale,https://www.99acres.com/3-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","9,714 per sq.ft.",Super Built up area 1575(146.32 sq.m.) sq.ft.,sq.ft.,3 Bedrooms,3 Bathrooms,2 Balconies,Servant Room,NaN,Ground of 2 Floors,NaN,1 to 5 Year Old,NaN,NaN,Semifurnished,NaN,NaN,NaN,NaN,NaN,NaN,This 3 bhk apartment is available for sale in ...,"['2 Wardrobe', '1 Modular Kitchen', 'No AC', '...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...",1.7 Cr
4,W75986869,4BHK 1Bath,Flat/Apartment for Sale,https://www.99acres.com/4-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","13,461 per sq.ft.",Carpet area: 2600 (241.55 sq.m.) sq.ft.,sq.ft.,4 Bedrooms,1 Bathroom,3 Balconies,NaN,NaN,2nd of 4 Floors,"Others,Pool,Park/Garden,Club",0 to 1 Year Old,Marble,Yes,NaN,50.0 Feet,2 Covered,"Municipal corporation,Borewell/Tank,24*7 Water",Full,Yes,Yes,This beautiful 4 bhk flat in sector 3 panchkul...,[],"['Lift(s)', 'High Ceiling Height', 'False Ceil...",3.5 Cr

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   property_id         715 non-null    object
 1   property_name       715 non-null    object
 2   property_type       715 non-null    object
 3   link                715 non-null    object
 4   Society             269 non-null    object
 5   address1            715 non-null    object
 6   address2            715 non-null    object
 7   PricePerUnit        715 non-null    object
 8   area                715 non-null    object
 9   area_unit           715 non-null    object
 10  bedRoom             715 non-null    object
 11  bathroom            715 non-null    object
 12  balcony             715 non-null    object
 13  additionalRoom      530 non-null    object
 14  facing              516 non-null    object
 15  noOfFloor           715 non-null    object
 16  Overlooking         544 non-null    object
 17  agePossession       715 non-null    object
 18  Flooring            531 non-null    object
 19  GatedCommunity      453 non-null    object
 20  Furnishing          682 non-null    object
 21  RoadFacing          391 non-null    object
 22  Parking             674 non-null    object
 23  WaterSource         616 non-null    object
 24  PowerBackup         475 non-null    object
 25  WheelChairFriendly  182 non-null    object
 26  PetFriendly         204 non-null    object
 27  description         715 non-null    object
 28  furnishDetails      474 non-null    object
 29  features            665 non-null    object
 30  price               715 non-null    object
dtypes: object(31)
memory usage: 173.3+ KB

In [111]:
pd.options.display.max_rows = None

### Water Source

In [112]:
df['WaterSource'].value_counts()

WaterSource
24*7 Water                                        284
Municipal corporation,24*7 Water                  121
Municipal corporation                              65
Municipal corporation,Borewell/Tank,24*7 Water     35
Borewell/Tank,24*7 Water                           31
24*7 Water,Municipal corporation                   21
24*7 Water,Borewell/Tank,Municipal corporation     16
Municipal corporation,Borewell/Tank                10
Borewell/Tank                                       9
Municipal corporation,24*7 Water,Borewell/Tank      8
24*7 Water,Borewell/Tank                            5
Borewell/Tank,Municipal corporation,24*7 Water      5
24*7 Water,Municipal corporation,Borewell/Tank      3
Borewell/Tank,Municipal corporation                 2
Borewell/Tank,24*7 Water,Municipal corporation      1
Name: count, dtype: int64

In [113]:
water_source = df['WaterSource'][:]

In [114]:
def water_source_func(x):
    if pd.notna(x):
        temp = sorted(x.split(','))
        return ','.join(temp)
    return x

In [115]:
water_source.apply(water_source_func).value_counts()

WaterSource
24*7 Water                                        284
24*7 Water,Municipal corporation                  142
24*7 Water,Borewell/Tank,Municipal corporation     68
Municipal corporation                              65
24*7 Water,Borewell/Tank                           36
Borewell/Tank,Municipal corporation                12
Borewell/Tank                                       9
Name: count, dtype: int64

In [116]:
df['WaterSource'] = df['WaterSource'].apply(water_source_func)

### bedRoom

In [117]:
df['bedRoom'].value_counts()

bedRoom
3 Bedrooms    396
4 Bedrooms    251
2 Bedrooms     40
5 Bedrooms     14
1 Bedroom      13
7 Bedrooms      1
Name: count, dtype: int64

In [118]:
def bedroom_func(x):
    if pd.notna(x):
        return x.split(' ')[0]
    return x

In [119]:
df['bedRoom'] = df['bedRoom'].apply(bedroom_func).astype(int)

### bathRoom

In [120]:
df['bathroom'].value_counts()

bathroom
3 Bathrooms    355
4 Bathrooms    252
2 Bathrooms     60
1 Bathroom      24
5 Bathrooms     20
6 Bathrooms      2
7 Bathrooms      2
Name: count, dtype: int64

In [121]:
df['bathroom'].isna().sum()

0

In [122]:
def bathroom_func(x):
    if pd.notna(x):
        return x.split(' ')[0]
    return x

In [123]:
df['bathroom'] = df['bathroom'].apply(bedroom_func).astype(int)

### balcony

In [124]:
df['balcony'].value_counts()

balcony
2 Balconies     263
3+ Balconies    222
3 Balconies     150
1 Balcony        72
No Balcony        8
Name: count, dtype: int64

In [125]:
def balcony_func(x):
    if pd.notna(x):
        val = x.split(' ')[0]
        if val == 'No':
            return '0'
        elif val == '3+':
            return '4'
        else:
            return val
    return x

In [126]:
df['balcony'] = df['balcony'].apply(balcony_func).astype(int)

### Facing

In [127]:
df['facing'].value_counts()

facing
East          259
North-East     98
West           65
North          57
South-East     18
North-West     15
South-West      3
South           1
Name: count, dtype: int64

In [128]:
df['facing'].isna().sum()

199

### Floors

In [129]:
df['noOfFloor'].value_counts()

noOfFloor
2nd   of 4 Floors           119
Ground of 2 Floors           59
1st   of 4 Floors            55
3rd   of 4 Floors            53
2nd   of 2 Floors            51
1st   of 2 Floors            51
4th   of 4 Floors            28
2nd   of 3 Floors            21
1st   of 3 Floors            19
Ground of 4 Floors           13
Ground of 3 Floors           12
4th   of 6 Floors            12
2nd   of 6 Floors            12
3rd   of 3 Floors            11
8th   of 10 Floors           10
3rd   of 6 Floors            10
3rd   of 7 Floors            10
1st   of 6 Floors             9
6th   of 6 Floors             8
5th   of 6 Floors             7
1st   of 5 Floors             7
3rd   of 5 Floors             6
4th   of 7 Floors             6
8th   of 8 Floors             5
6th   of 7 Floors             4
Ground of 1 Floors            4
5th   of 7 Floors             4
2nd   of 7 Floors             4
6th   of 16 Floors            4
6th   of 11 Floors            3
4th   of 13 Floors            3
3rd   of 10 Floors            3
8th   of 16 Floors            3
1st   of 1 Floors             3
10th   of 12 Floors           3
5th   of 10 Floors            3
5th   of 5 Floors             3
1st   of 7 Floors             3
4th   of 8 Floors             3
2nd   of 5 Floors             3
7th   of 7 Floors             2
16th   of 16 Floors           2
3rd   of 8 Floors             2
7th   of 16 Floors            2
2nd   of 11 Floors            2
3rd   of 17 Floors            2
7th   of 9 Floors             2
3rd   of 12 Floors            2
7th   of 10 Floors            2
4th   of 5 Floors             2
4th   of 9 Floors             2
11st   of 11 Floors           2
10th   of 16 Floors           2
1st   of 8 Floors             2
3rd   of 16 Floors            2
5th   of 8 Floors             2
12nd   of 13 Floors           2
6th   of 9 Floors             1
5th   of 14 Floors            1
3rd   of 14 Floors            1
Lower Ground of 3 Floors      1
9th   of 10 Floors            1
4th   of 10 Floors            1
5th   of 12 Floors            1
7th   of 8 Floors             1
Basement of 3 Floors          1
3rd   of 11 Floors            1
9th   of 9 Floors             1
11st   of 16 Floors           1
Ground of 17 Floors           1
9th   of 16 Floors            1
6th   of 8 Floors             1
8th   of 9 Floors             1
8th   of 11 Floors            1
2nd   of 9 Floors             1
3rd   of 9 Floors             1
5th   of 9 Floors             1
14th   of 16 Floors           1
9th   of 14 Floors            1
10th   of 14 Floors           1
1st   of 9 Floors             1
6th   of 12 Floors            1
9th   of 12 Floors            1
Basement of 6 Floors          1
1st   of 16 Floors            1
14th   of 17 Floors           1
8th   of 12 Floors            1
10th   of 17 Floors           1
10th   of 18 Floors           1
4th   of 18 Floors            1
5th   of 11 Floors            1
Name: count, dtype: int64

In [130]:
df[df['noOfFloor'] == 'Lower Ground of 3 Floors']

,property_id,property_name,property_type,link,Society,address1,address2,PricePerUnit,area,area_unit,bedRoom,bathroom,balcony,additionalRoom,facing,noOfFloor,Overlooking,agePossession,Flooring,GatedCommunity,Furnishing,RoadFacing,Parking,WaterSource,PowerBackup,WheelChairFriendly,PetFriendly,description,furnishDetails,features,price
622,G76535811,3BHK 3Baths,Flat/Apartment for Sale,https://www.99acres.com/3-bhk-bedroom-apartmen...,NaN,"Gh 4A flats, Sector 20 Panchkula, Panchkula, H...","Sector 20 Panchkula, Panchkula, Haryana","2,500 per sq.ft.",Carpet area: 2000 (185.81 sq.m.) sq.ft.,sq.ft.,3,3,2,NaN,NaN,Lower Ground of 3 Floors,NaN,0 to 1 Year Old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,House or flat in good location,[],NaN,50 Lac

In [131]:
#df['noOfFloor'].loc[172]

In [132]:
df.drop(622,inplace = True)

In [133]:
df['noOfFloor'].isna().sum()

0

In [134]:
df[df['noOfFloor'].isna()]

Empty DataFrame
Columns: [property_id, property_name, property_type, link, Society, address1, address2, PricePerUnit, area, area_unit, bedRoom, bathroom, balcony, additionalRoom, facing, noOfFloor, Overlooking, agePossession, Flooring, GatedCommunity, Furnishing, RoadFacing, Parking, WaterSource, PowerBackup, WheelChairFriendly, PetFriendly, description, furnishDetails, features, price]
Index: []

In [135]:
df['noOfFloor'].value_counts()

noOfFloor
2nd   of 4 Floors       119
Ground of 2 Floors       59
1st   of 4 Floors        55
3rd   of 4 Floors        53
2nd   of 2 Floors        51
1st   of 2 Floors        51
4th   of 4 Floors        28
2nd   of 3 Floors        21
1st   of 3 Floors        19
Ground of 4 Floors       13
2nd   of 6 Floors        12
4th   of 6 Floors        12
Ground of 3 Floors       12
3rd   of 3 Floors        11
8th   of 10 Floors       10
3rd   of 7 Floors        10
3rd   of 6 Floors        10
1st   of 6 Floors         9
6th   of 6 Floors         8
1st   of 5 Floors         7
5th   of 6 Floors         7
3rd   of 5 Floors         6
4th   of 7 Floors         6
8th   of 8 Floors         5
2nd   of 7 Floors         4
6th   of 16 Floors        4
5th   of 7 Floors         4
6th   of 7 Floors         4
Ground of 1 Floors        4
10th   of 12 Floors       3
1st   of 7 Floors         3
4th   of 8 Floors         3
4th   of 13 Floors        3
5th   of 10 Floors        3
2nd   of 5 Floors         3
1st   of 1 Floors         3
5th   of 5 Floors         3
8th   of 16 Floors        3
3rd   of 10 Floors        3
6th   of 11 Floors        3
16th   of 16 Floors       2
12nd   of 13 Floors       2
3rd   of 12 Floors        2
3rd   of 17 Floors        2
5th   of 8 Floors         2
7th   of 16 Floors        2
1st   of 8 Floors         2
3rd   of 8 Floors         2
3rd   of 16 Floors        2
7th   of 7 Floors         2
4th   of 5 Floors         2
4th   of 9 Floors         2
7th   of 9 Floors         2
2nd   of 11 Floors        2
10th   of 16 Floors       2
11st   of 11 Floors       2
7th   of 10 Floors        2
9th   of 10 Floors        1
11st   of 16 Floors       1
3rd   of 14 Floors        1
6th   of 9 Floors         1
5th   of 14 Floors        1
9th   of 9 Floors         1
3rd   of 11 Floors        1
Basement of 3 Floors      1
5th   of 12 Floors        1
4th   of 10 Floors        1
7th   of 8 Floors         1
Ground of 17 Floors       1
9th   of 16 Floors        1
6th   of 8 Floors         1
8th   of 9 Floors         1
8th   of 11 Floors        1
2nd   of 9 Floors         1
3rd   of 9 Floors         1
5th   of 9 Floors         1
14th   of 16 Floors       1
9th   of 14 Floors        1
10th   of 14 Floors       1
1st   of 9 Floors         1
6th   of 12 Floors        1
9th   of 12 Floors        1
Basement of 6 Floors      1
1st   of 16 Floors        1
14th   of 17 Floors       1
8th   of 12 Floors        1
10th   of 17 Floors       1
10th   of 18 Floors       1
4th   of 18 Floors        1
5th   of 11 Floors        1
Name: count, dtype: int64

In [136]:
temp = '11st   of 3 Floors'

In [137]:
temp = temp.split(' ')

In [138]:
re.findall(r'\d+', temp[0])[0]

'11'

In [139]:
temp[-2]

'3'

In [140]:
def floor_func(x):
    floor_no = 0
    Total_floor = 0
    if pd.notna(x):
        temp = x.split(' ')
        if temp[0][0].isnumeric():
            floor_no = re.findall(r'\d+', temp[0])[0]
        else:
            if temp[0] == 'Ground':
                floor_no = 0
            elif temp[0] == 'Basement':
                floor_no = -1
            else:
                floor_no = -2
        Total_floor = temp[-2]
    return floor_no,Total_floor

In [141]:
df['noOfFloor'].apply(floor_func)

0        (2, 2)
1        (4, 4)
2        (1, 2)
3        (0, 2)
4        (2, 4)
5        (3, 6)
6        (8, 9)
7        (5, 6)
8       (3, 10)
9        (1, 4)
10       (1, 4)
11       (2, 4)
12       (2, 6)
13       (0, 2)
14       (0, 2)
15       (2, 2)
16       (0, 2)
17      (2, 11)
18       (0, 2)
19       (0, 2)
20       (1, 3)
21       (2, 4)
22       (5, 6)
23       (2, 4)
24       (1, 4)
25       (2, 4)
26       (0, 2)
27       (0, 2)
28       (0, 2)
29       (0, 2)
30       (0, 2)
31       (4, 6)
32       (2, 6)
33       (4, 6)
34       (6, 6)
35       (4, 6)
36      (8, 16)
37      (8, 11)
38     (11, 11)
39       (4, 4)
40       (1, 4)
41       (3, 4)
42       (6, 6)
43      (6, 16)
44       (2, 4)
45       (3, 4)
46       (2, 4)
47       (3, 3)
48       (3, 6)
49       (6, 6)
50       (5, 5)
51       (1, 5)
52       (1, 4)
53       (3, 3)
54      (7, 10)
55       (5, 6)
56       (6, 6)
57       (6, 6)
58       (7, 7)
59      (8, 16)
60      (8, 16)
61      (3, 16)
62       (3, 4)
63       (2, 5)
64       (3, 6)
65       (2, 6)
66      (7, 10)
67       (6, 7)
68       (1, 5)
69       (4, 8)
70       (4, 6)
71       (4, 6)
72       (4, 6)
73       (7, 7)
74       (6, 7)
75       (6, 6)
76       (3, 6)
77       (5, 5)
78       (2, 9)
79       (3, 9)
80       (5, 9)
81       (1, 2)
82       (2, 2)
83       (2, 2)
84       (2, 2)
85       (1, 2)
86       (2, 2)
87       (3, 4)
88       (1, 4)
89       (3, 4)
90       (4, 4)
91       (2, 2)
92       (1, 2)
93       (1, 2)
94       (1, 2)
95       (1, 2)
96       (1, 2)
97       (2, 2)
98       (0, 2)
99       (1, 2)
100      (2, 2)
101      (1, 2)
102      (0, 2)
103      (0, 2)
104      (1, 2)
105      (0, 2)
106      (0, 2)
107      (0, 2)
108      (0, 2)
109      (0, 2)
110      (3, 4)
111      (1, 4)
112      (2, 2)
113      (1, 2)
114      (0, 2)
115      (0, 2)
116      (2, 2)
117      (1, 2)
118      (1, 2)
119      (0, 2)
120      (1, 2)
121      (1, 2)
122      (1, 2)
123      (2, 2)
124      (2, 2)
125      (0, 2)
126      (0, 2)
127      (0, 2)
128      (2, 2)
129      (1, 2)
130      (2, 2)
131      (0, 2)
132      (2, 2)
133      (0, 2)
134      (0, 2)
135      (2, 2)
136      (1, 2)
137      (0, 2)
138      (0, 2)
139      (1, 2)
140      (2, 2)
141      (1, 2)
142      (0, 2)
143      (0, 2)
144      (1, 2)
145      (1, 2)
146      (1, 4)
147      (1, 2)
148      (2, 2)
149      (2, 2)
150      (2, 2)
151      (0, 2)
152      (0, 2)
153      (2, 2)
154      (1, 2)
155      (2, 2)
156      (1, 2)
157      (1, 2)
158      (2, 2)
159      (2, 2)
160      (1, 2)
161      (0, 2)
162      (2, 2)
163      (2, 2)
164      (0, 2)
165      (1, 2)
166      (3, 4)
167      (1, 2)
168      (0, 2)
169      (0, 2)
170      (0, 2)
171      (1, 2)
172      (1, 2)
173      (0, 2)
174      (1, 2)
175      (2, 2)
176      (2, 2)
177      (1, 2)
178      (1, 2)
179      (1, 4)
180      (3, 4)
181     (6, 16)
182    (14, 16)
183      (1, 3)
184      (3, 4)
185      (3, 4)
186      (4, 7)
187      (2, 4)
188      (3, 4)
189     (9, 14)
190    (10, 14)
191      (2, 6)
192      (3, 7)
193      (1, 4)
194      (6, 8)
195      (3, 4)
196      (2, 4)
197      (2, 4)
198      (1, 4)
199      (1, 2)
200      (3, 3)
201      (1, 2)
202      (2, 4)
203      (0, 3)
204      (1, 3)
205      (1, 3)
206      (1, 9)
207     (9, 12)
208      (1, 7)
209      (2, 2)
210      (2, 3)
211      (0, 1)
212      (2, 4)
213      (4, 4)
214      (2, 2)
215      (1, 4)
216    (10, 12)
217     (0, 17)
218      (3, 4)
219     (-1, 6)
220      (3, 4)
221      (2, 3)
222      (1, 4)
223     (1, 16)
224      (1, 2)
225      (2, 6)
226      (2, 2)
227    (14, 17)
228      (1, 4)
229      (2, 4)
230     (3, 10)
231      (2, 3)
232      (2, 4)
233      (1, 4)
234      (0, 2)
235      (1, 4)
236      (2, 2)
237      (0, 1)
238      (2, 3)
239     (3, 12)
240      (0, 2)
241      (3, 4)
242      (2, 3)
243      (1, 3)
244      (2, 2)
245      (1, 2)
246      (1, 2)
247      (0, 4)
248      (2, 3)
249     (8, 10)
250      (0, 3)
251      (0, 2)
252      (0, 4)
253      (2, 2)
254      (3, 4)
255     (3, 17)
256      (0, 3)
257      (4, 4)
258      (0, 2)
259      (8, 8)
260      (3, 4)
261      (3, 3)
262      (2, 2)
263      (2, 4)
264      (1, 5)
265      (2, 3)
266      (1, 7)
267      (1, 4)
268      (0, 4)
269      (1, 4)
270      (0, 3)
271      (1, 3)
272      (3, 4)
273      (5, 6)
274      (1, 4)
275      (3, 5)
276      (1, 4)
277      (2, 4)
278      (1, 4)
279      (1, 3)
280     (8, 10)
281     (8, 10)
282     (8, 10)
283      (0, 2)
284      (2, 3)
285      (2, 3)
286      (3, 6)
287      (0, 4)
288      (1, 3)
289      (1, 4)
290     (4, 13)
291      (1, 4)
292      (2, 4)
293      (2, 4)
294      (1, 4)
295      (2, 4)
296    (16, 16)
297      (3, 4)
298      (1, 5)
299      (2, 4)
300      (1, 4)
301      (3, 4)
302      (2, 4)
303      (2, 4)
304      (0, 4)
305      (3, 4)
306      (3, 4)
307      (1, 4)
308      (2, 4)
309      (4, 4)
310      (1, 4)
311     (8, 12)
312    (10, 17)
313      (2, 4)
314    (10, 18)
315     (2, 11)
316      (2, 3)
317      (3, 4)
318      (3, 4)
319      (2, 4)
320      (1, 4)
321      (3, 4)
322      (2, 4)
323      (2, 4)
324      (2, 4)
325      (2, 4)
326     (8, 10)
327     (8, 10)
328     (8, 10)
329     (8, 10)
330      (3, 3)
331      (0, 2)
332     (4, 18)
333      (3, 4)
334     (6, 12)
335    (10, 12)
336     (6, 11)
337      (0, 3)
338      (4, 4)
339      (2, 3)
340     (8, 10)
341      (3, 7)
342      (1, 4)
343      (1, 4)
344      (1, 4)
345     (3, 16)
346      (0, 2)
347      (0, 2)
348      (2, 4)
349      (2, 4)
350      (4, 4)
351      (3, 4)
352      (0, 3)
353      (0, 3)
354      (3, 4)
355      (2, 4)
356      (3, 4)
357      (5, 8)
358      (1, 8)
359      (2, 4)
360      (4, 4)
361      (2, 4)
362      (2, 4)
363      (4, 4)
364      (3, 4)
365      (2, 4)
366      (2, 4)
367      (2, 4)
368      (2, 4)
369      (2, 4)
370      (2, 4)
371      (2, 4)
372      (2, 4)
373      (2, 4)
374      (3, 4)
375      (2, 4)
376      (1, 4)
377      (1, 6)
378     (7, 16)
379      (2, 4)
380      (2, 4)
381      (2, 4)
382      (4, 4)
383      (3, 4)
384      (4, 6)
385     (3, 12)
386      (0, 4)
387      (3, 7)
388      (3, 7)
389      (3, 4)
390      (3, 4)
391      (2, 4)
392      (3, 3)
393      (2, 6)
394      (4, 6)
395      (2, 2)
396      (1, 2)
397      (0, 2)
398      (2, 2)
399      (1, 2)
400      (0, 2)
401      (2, 2)
402      (1, 2)
403      (0, 2)
404      (2, 3)
405      (1, 3)
406      (0, 3)
407      (2, 4)
408      (1, 3)
409      (1, 4)
410      (3, 7)
411      (1, 3)
412      (1, 3)
413      (3, 7)
414      (1, 7)
415      (3, 8)
416      (1, 4)
417      (1, 4)
418      (2, 4)
419      (3, 3)
420      (2, 4)
421      (2, 4)
422      (2, 2)
423      (1, 6)
424      (3, 5)
425      (3, 3)
426      (1, 8)
427     (8, 10)
428      (3, 6)
429      (1, 6)
430      (2, 6)
431      (1, 6)
432      (6, 6)
433     (9, 16)
434      (0, 4)
435      (3, 4)
436      (3, 4)
437      (4, 4)
438    (10, 16)
439     (7, 16)
440    (11, 16)
441     (6, 16)
442      (0, 3)
443      (2, 4)
444      (1, 1)
445      (2, 3)
446      (2, 2)
447      (2, 4)
448    (16, 16)
449      (2, 3)
450      (6, 9)
451    (12, 13)
452      (0, 2)
453     (4, 13)
454      (2, 3)
455      (3, 4)
456      (2, 4)
457      (0, 4)
458      (0, 4)
459      (2, 6)
460     (5, 10)
461      (0, 4)
462      (2, 4)
463      (4, 4)
464      (2, 4)
465      (2, 4)
466      (3, 4)
467      (1, 4)
468      (0, 4)
469      (0, 3)
470      (6, 6)
471      (2, 4)
472      (2, 4)
473      (0, 3)
474      (4, 7)
475      (4, 7)
476      (3, 5)
477      (6, 7)
478      (2, 6)
479      (2, 4)
480      (2, 4)
481      (2, 4)
482      (2, 4)
483      (4, 4)
484      (2, 4)
485     (3, 14)
486      (2, 4)
487      (3, 7)
488      (2, 4)
489      (4, 7)
490      (3, 4)
491      (2, 4)
492      (2, 4)
493      (1, 4)
494      (4, 4)
495     (4, 13)
496     (5, 14)
497      (6, 7)
498      (4, 5)
499      (3, 7)
500      (4, 9)
501      (1, 3)
502     (6, 11)
503      (2, 4)
504     (4, 10)
505      (2, 3)
506    (11, 11)
507      (2, 4)
508     (6, 11)
509     (5, 10)
510      (3, 6)
511      (5, 7)
512     (5, 12)
513      (7, 8)
514      (1, 6)
515      (3, 6)
516      (2, 4)
517      (1, 6)
518     (3, 10)
519      (4, 6)
520      (3, 7)
521      (5, 7)
522      (2, 7)
523      (5, 6)
524      (5, 6)
525      (4, 6)
526      (1, 4)
527      (1, 3)
528      (0, 2)
529      (2, 2)
530      (2, 2)
531      (1, 2)
532      (2, 4)
533      (0, 2)
534      (2, 2)
535      (2, 2)
536      (2, 2)
537      (1, 2)
538      (0, 2)
539      (1, 2)
540      (1, 2)
541      (2, 2)
542      (3, 4)
543      (1, 4)
544      (1, 4)
545      (2, 2)
546      (1, 2)
547      (0, 2)
548      (4, 4)
549      (2, 4)
550      (3, 4)
551      (1, 4)
552      (2, 2)
553      (0, 2)
554      (4, 7)
555      (3, 5)
556      (2, 6)
557      (2, 4)
558      (2, 4)
559      (2, 4)
560      (2, 4)
561      (2, 4)
562      (2, 4)
563      (2, 4)
564      (2, 4)
565      (2, 4)
566      (2, 4)
567      (2, 4)
568      (2, 4)
569      (2, 4)
570      (2, 4)
571      (2, 4)
572      (2, 4)
573      (2, 4)
574      (2, 4)
575      (2, 4)
576      (3, 4)
577      (2, 4)
578      (4, 4)
579      (1, 6)
580      (2, 3)
581      (8, 8)
582      (3, 5)
583      (1, 5)
584      (2, 4)
585      (4, 4)
586      (3, 4)
587      (2, 4)
588      (1, 3)
589     (-1, 3)
590      (2, 4)
591      (2, 4)
592      (1, 4)
593      (1, 4)
594      (2, 4)
595      (2, 4)
596      (4, 4)
597      (2, 4)
598      (0, 4)
599     (3, 11)
600      (2, 4)
601      (1, 4)
602      (3, 6)
603      (2, 4)
604      (3, 4)
605      (2, 5)
606      (9, 9)
607     (9, 10)
608      (1, 4)
609      (2, 4)
610      (1, 4)
611      (2, 4)
612      (1, 2)
613      (1, 4)
614      (2, 3)
615      (2, 7)
616      (2, 4)
617      (4, 8)
618      (1, 4)
619      (1, 1)
620      (4, 4)
621      (2, 4)
623      (3, 7)
624    (10, 12)
625      (3, 4)
626      (3, 4)
627      (2, 4)
628      (2, 2)
629      (2, 6)
630      (4, 4)
631      (4, 4)
632      (0, 1)
633      (3, 4)
634     (3, 17)
635      (5, 7)
636      (2, 5)
637      (3, 4)
638      (1, 2)
639      (2, 7)
640      (2, 4)
641      (2, 3)
642      (2, 7)
643      (2, 4)
644      (4, 6)
645     (6, 16)
646      (3, 4)
647      (3, 4)
648      (0, 3)
649      (0, 1)
650      (1, 6)
651      (1, 4)
652      (4, 5)
653      (2, 4)
654      (3, 6)
655      (1, 4)
656      (3, 3)
657      (3, 4)
658      (1, 4)
659      (5, 7)
660      (1, 4)
661      (4, 4)
662      (5, 8)
663      (1, 4)
664      (2, 4)
665      (3, 5)
666      (3, 3)
667      (3, 8)
668      (1, 5)
669     (5, 10)
670      (7, 9)
671      (0, 4)
672      (4, 4)
673      (2, 4)
674      (4, 4)
675      (1, 4)
676      (4, 7)
677      (0, 2)
678      (1, 3)
679      (1, 2)
680      (8, 8)
681      (2, 6)
682      (2, 4)
683      (2, 2)
684      (8, 8)
685      (8, 8)
686      (1, 3)
687      (2, 3)
688      (2, 4)
689      (2, 4)
690      (2, 4)
691      (1, 3)
692      (1, 6)
693      (4, 4)
694      (4, 4)
695      (1, 3)
696    (10, 16)
697      (4, 6)
698      (1, 5)
699      (4, 4)
700      (1, 4)
701    (12, 13)
702     (5, 11)
703      (3, 4)
704      (4, 9)
705      (2, 4)
706      (7, 9)
707      (3, 3)
708      (0, 2)
709      (4, 8)
710      (5, 5)
711      (2, 3)
712      (5, 6)
713      (3, 4)
714      (1, 1)
Name: noOfFloor, dtype: object

In [142]:
floors_df = df['noOfFloor'].apply(floor_func).apply(pd.Series)
floors_df.columns = ['FloorNo', 'TotalFloors']
floors_df

    FloorNo TotalFloors
0         2           2
1         4           4
2         1           2
3         0           2
4         2           4
5         3           6
6         8           9
7         5           6
8         3          10
9         1           4
10        1           4
11        2           4
12        2           6
13        0           2
14        0           2
15        2           2
16        0           2
17        2          11
18        0           2
19        0           2
20        1           3
21        2           4
22        5           6
23        2           4
24        1           4
25        2           4
26        0           2
27        0           2
28        0           2
29        0           2
30        0           2
31        4           6
32        2           6
33        4           6
34        6           6
35        4           6
36        8          16
37        8          11
38       11          11
39        4           4
40        1           4
41        3           4
42        6           6
43        6          16
44        2           4
45        3           4
46        2           4
47        3           3
48        3           6
49        6           6
50        5           5
51        1           5
52        1           4
53        3           3
54        7          10
55        5           6
56        6           6
57        6           6
58        7           7
59        8          16
60        8          16
61        3          16
62        3           4
63        2           5
64        3           6
65        2           6
66        7          10
67        6           7
68        1           5
69        4           8
70        4           6
71        4           6
72        4           6
73        7           7
74        6           7
75        6           6
76        3           6
77        5           5
78        2           9
79        3           9
80        5           9
81        1           2
82        2           2
83        2           2
84        2           2
85        1           2
86        2           2
87        3           4
88        1           4
89        3           4
90        4           4
91        2           2
92        1           2
93        1           2
94        1           2
95        1           2
96        1           2
97        2           2
98        0           2
99        1           2
100       2           2
101       1           2
102       0           2
103       0           2
104       1           2
105       0           2
106       0           2
107       0           2
108       0           2
109       0           2
110       3           4
111       1           4
112       2           2
113       1           2
114       0           2
115       0           2
116       2           2
117       1           2
118       1           2
119       0           2
120       1           2
121       1           2
122       1           2
123       2           2
124       2           2
125       0           2
126       0           2
127       0           2
128       2           2
129       1           2
130       2           2
131       0           2
132       2           2
133       0           2
134       0           2
135       2           2
136       1           2
137       0           2
138       0           2
139       1           2
140       2           2
141       1           2
142       0           2
143       0           2
144       1           2
145       1           2
146       1           4
147       1           2
148       2           2
149       2           2
150       2           2
151       0           2
152       0           2
153       2           2
154       1           2
155       2           2
156       1           2
157       1           2
158       2           2
159       2           2
160       1           2
161       0           2
162       2           2
163       2           2
164       0           2
165       1           2
166       3           4
167       1           2
168       0           2
169       0           2
170       0           2
171       1           2
172       1           2
173       0           2
174       1           2
175       2           2
176       2           2
177       1           2
178       1           2
179       1           4
180       3           4
181       6          16
182      14          16
183       1           3
184       3           4
185       3           4
186       4           7
187       2           4
188       3           4
189       9          14
190      10          14
191       2           6
192       3           7
193       1           4
194       6           8
195       3           4
196       2           4
197       2           4
198       1           4
199       1           2
200       3           3
201       1           2
202       2           4
203       0           3
204       1           3
205       1           3
206       1           9
207       9          12
208       1           7
209       2           2
210       2           3
211       0           1
212       2           4
213       4           4
214       2           2
215       1           4
216      10          12
217       0          17
218       3           4
219      -1           6
220       3           4
221       2           3
222       1           4
223       1          16
224       1           2
225       2           6
226       2           2
227      14          17
228       1           4
229       2           4
230       3          10
231       2           3
232       2           4
233       1           4
234       0           2
235       1           4
236       2           2
237       0           1
238       2           3
239       3          12
240       0           2
241       3           4
242       2           3
243       1           3
244       2           2
245       1           2
246       1           2
247       0           4
248       2           3
249       8          10
250       0           3
251       0           2
252       0           4
253       2           2
254       3           4
255       3          17
256       0           3
257       4           4
258       0           2
259       8           8
260       3           4
261       3           3
262       2           2
263       2           4
264       1           5
265       2           3
266       1           7
267       1           4
268       0           4
269       1           4
270       0           3
271       1           3
272       3           4
273       5           6
274       1           4
275       3           5
276       1           4
277       2           4
278       1           4
279       1           3
280       8          10
281       8          10
282       8          10
283       0           2
284       2           3
285       2           3
286       3           6
287       0           4
288       1           3
289       1           4
290       4          13
291       1           4
292       2           4
293       2           4
294       1           4
295       2           4
296      16          16
297       3           4
298       1           5
299       2           4
300       1           4
301       3           4
302       2           4
303       2           4
304       0           4
305       3           4
306       3           4
307       1           4
308       2           4
309       4           4
310       1           4
311       8          12
312      10          17
313       2           4
314      10          18
315       2          11
316       2           3
317       3           4
318       3           4
319       2           4
320       1           4
321       3           4
322       2           4
323       2           4
324       2           4
325       2           4
326       8          10
327       8          10
328       8          10
329       8          10
330       3           3
331       0           2
332       4          18
333       3           4
334       6          12
335      10          12
336       6          11
337       0           3
338       4           4
339       2           3
340       8          10
341       3           7
342       1           4
343       1           4
344       1           4
345       3          16
346       0           2
347       0           2
348       2           4
349       2           4
350       4           4
351       3           4
352       0           3
353       0           3
354       3           4
355       2           4
356       3           4
357       5           8
358       1           8
359       2           4
360       4           4
361       2           4
362       2           4
363       4           4
364       3           4
365       2           4
366       2           4
367       2           4
368       2           4
369       2           4
370       2           4
371       2           4
372       2           4
373       2           4
374       3           4
375       2           4
376       1           4
377       1           6
378       7          16
379       2           4
380       2           4
381       2           4
382       4           4
383       3           4
384       4           6
385       3          12
386       0           4
387       3           7
388       3           7
389       3           4
390       3           4
391       2           4
392       3           3
393       2           6
394       4           6
395       2           2
396       1           2
397       0           2
398       2           2
399       1           2
400       0           2
401       2           2
402       1           2
403       0           2
404       2           3
405       1           3
406       0           3
407       2           4
408       1           3
409       1           4
410       3           7
411       1           3
412       1           3
413       3           7
414       1           7
415       3           8
416       1           4
417       1           4
418       2           4
419       3           3
420       2           4
421       2           4
422       2           2
423       1           6
424       3           5
425       3           3
426       1           8
427       8          10
428       3           6
429       1           6
430       2           6
431       1           6
432       6           6
433       9          16
434       0           4
435       3           4
436       3           4
437       4           4
438      10          16
439       7          16
440      11          16
441       6          16
442       0           3
443       2           4
444       1           1
445       2           3
446       2           2
447       2           4
448      16          16
449       2           3
450       6           9
451      12          13
452       0           2
453       4          13
454       2           3
455       3           4
456       2           4
457       0           4
458       0           4
459       2           6
460       5          10
461       0           4
462       2           4
463       4           4
464       2           4
465       2           4
466       3           4
467       1           4
468       0           4
469       0           3
470       6           6
471       2           4
472       2           4
473       0           3
474       4           7
475       4           7
476       3           5
477       6           7
478       2           6
479       2           4
480       2           4
481       2           4
482       2           4
483       4           4
484       2           4
485       3          14
486       2           4
487       3           7
488       2           4
489       4           7
490       3           4
491       2           4
492       2           4
493       1           4
494       4           4
495       4          13
496       5          14
497       6           7
498       4           5
499       3           7
500       4           9
501       1           3
502       6          11
503       2           4
504       4          10
505       2           3
506      11          11
507       2           4
508       6          11
509       5          10
510       3           6
511       5           7
512       5          12
513       7           8
514       1           6
515       3           6
516       2           4
517       1           6
518       3          10
519       4           6
520       3           7
521       5           7
522       2           7
523       5           6
524       5           6
525       4           6
526       1           4
527       1           3
528       0           2
529       2           2
530       2           2
531       1           2
532       2           4
533       0           2
534       2           2
535       2           2
536       2           2
537       1           2
538       0           2
539       1           2
540       1           2
541       2           2
542       3           4
543       1           4
544       1           4
545       2           2
546       1           2
547       0           2
548       4           4
549       2           4
550       3           4
551       1           4
552       2           2
553       0           2
554       4           7
555       3           5
556       2           6
557       2           4
558       2           4
559       2           4
560       2           4
561       2           4
562       2           4
563       2           4
564       2           4
565       2           4
566       2           4
567       2           4
568       2           4
569       2           4
570       2           4
571       2           4
572       2           4
573       2           4
574       2           4
575       2           4
576       3           4
577       2           4
578       4           4
579       1           6
580       2           3
581       8           8
582       3           5
583       1           5
584       2           4
585       4           4
586       3           4
587       2           4
588       1           3
589      -1           3
590       2           4
591       2           4
592       1           4
593       1           4
594       2           4
595       2           4
596       4           4
597       2           4
598       0           4
599       3          11
600       2           4
601       1           4
602       3           6
603       2           4
604       3           4
605       2           5
606       9           9
607       9          10
608       1           4
609       2           4
610       1           4
611       2           4
612       1           2
613       1           4
614       2           3
615       2           7
616       2           4
617       4           8
618       1           4
619       1           1
620       4           4
621       2           4
623       3           7
624      10          12
625       3           4
626       3           4
627       2           4
628       2           2
629       2           6
630       4           4
631       4           4
632       0           1
633       3           4
634       3          17
635       5           7
636       2           5
637       3           4
638       1           2
639       2           7
640       2           4
641       2           3
642       2           7
643       2           4
644       4           6
645       6          16
646       3           4
647       3           4
648       0           3
649       0           1
650       1           6
651       1           4
652       4           5
653       2           4
654       3           6
655       1           4
656       3           3
657       3           4
658       1           4
659       5           7
660       1           4
661       4           4
662       5           8
663       1           4
664       2           4
665       3           5
666       3           3
667       3           8
668       1           5
669       5          10
670       7           9
671       0           4
672       4           4
673       2           4
674       4           4
675       1           4
676       4           7
677       0           2
678       1           3
679       1           2
680       8           8
681       2           6
682       2           4
683       2           2
684       8           8
685       8           8
686       1           3
687       2           3
688       2           4
689       2           4
690       2           4
691       1           3
692       1           6
693       4           4
694       4           4
695       1           3
696      10          16
697       4           6
698       1           5
699       4           4
700       1           4
701      12          13
702       5          11
703       3           4
704       4           9
705       2           4
706       7           9
707       3           3
708       0           2
709       4           8
710       5           5
711       2           3
712       5           6
713       3           4
714       1           1

In [143]:
df.insert(15,'TotalFloors',value= floors_df['TotalFloors'].values)

In [144]:
df.insert(15,'FloorNo',value= floors_df['FloorNo'].values)

In [197]:
df['TotalFloors'] = df['TotalFloors'].astype(int)
df['FloorNo'] = df['FloorNo'].astype(int)

In [145]:
df.drop(columns = 'noOfFloor',inplace = True)

In [147]:
df.head()

,property_id,property_name,property_type,link,Society,address1,address2,PricePerUnit,area,area_unit,bedRoom,bathroom,balcony,additionalRoom,facing,FloorNo,TotalFloors,Overlooking,agePossession,Flooring,GatedCommunity,Furnishing,RoadFacing,Parking,WaterSource,PowerBackup,WheelChairFriendly,PetFriendly,description,furnishDetails,features,price
0,W76639483,3BHK 3Baths,Independent/Builder Floor for Sale,https://www.99acres.com/3-bhk-bedroom-independ...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","8,000 per sq.ft.",Super Built up area 1750(162.58 sq.m.) sq.ft.,sq.ft.,3,3,3,Store Room,East,2,2,Main Road,5 to 10 Year Old,Ceramic,Yes,Unfurnished,80.0 Feet,1 Open,24*7 Water,Full,NaN,NaN,Located in the foothills of the shivalik range...,NaN,"['Security / Fire Alarm', 'Maintenance Staff',...",1.4 Cr
1,J75852183,3BHK 3Baths,Independent/Builder Floor for Sale,https://www.99acres.com/3-bhk-bedroom-independ...,NaN,"pkl, Sector 7 Panchkula, Panchkula, Haryana","Sector 7 Panchkula, Panchkula, Haryana","15,806 per sq.ft.",Super Built up area 1800(167.23 sq.m.)Carpet a...,sq.ft.,3,3,2,NaN,South-West,4,4,Main Road,1 to 5 Year Old,Marble,NaN,Semifurnished,50.0 Feet,"2 Covered, 1 Open",Municipal corporation,NaN,NaN,NaN,On prime b road right next to chandigarh entry...,"['3 Wardrobe', '7 Fan', '1 Exhaust Fan', '6 Li...","['Water Storage', 'Rain Water Harvesting']",2.45 Cr
2,M75685609,3BHK 3Baths,Flat/Apartment for Sale,https://www.99acres.com/3-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","7,714 per sq.ft.",Super Built up area 1750(162.58 sq.m.) sq.ft.,sq.ft.,3,3,2,Servant Room,NaN,1,2,NaN,1 to 5 Year Old,NaN,NaN,Semifurnished,NaN,NaN,NaN,NaN,NaN,NaN,This 3 bhk apartment is available for sale in ...,"['2 Wardrobe', '1 Modular Kitchen', 'No AC', '...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...",1.35 Cr
3,O75685647,3BHK 3Baths,Flat/Apartment for Sale,https://www.99acres.com/3-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","9,714 per sq.ft.",Super Built up area 1575(146.32 sq.m.) sq.ft.,sq.ft.,3,3,2,Servant Room,NaN,0,2,NaN,1 to 5 Year Old,NaN,NaN,Semifurnished,NaN,NaN,NaN,NaN,NaN,NaN,This 3 bhk apartment is available for sale in ...,"['2 Wardrobe', '1 Modular Kitchen', 'No AC', '...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...",1.7 Cr
4,W75986869,4BHK 1Bath,Flat/Apartment for Sale,https://www.99acres.com/4-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","13,461 per sq.ft.",Carpet area: 2600 (241.55 sq.m.) sq.ft.,sq.ft.,4,1,3,NaN,NaN,2,4,"Others,Pool,Park/Garden,Club",0 to 1 Year Old,Marble,Yes,NaN,50.0 Feet,2 Covered,"24*7 Water,Borewell/Tank,Municipal corporation",Full,Yes,Yes,This beautiful 4 bhk flat in sector 3 panchkul...,[],"['Lift(s)', 'High Ceiling Height', 'False Ceil...",3.5 Cr

### Overlooking

In [148]:
df['Overlooking'].value_counts()

Overlooking
Park/Garden,Club,Main Road                           117
Others                                                66
Park/Garden                                           53
Main Road                                             51
Main Road,Others                                      37
Park/Garden,Main Road                                 34
Park/Garden,Main Road,Others                          23
Main Road,Park/Garden,Club                            18
Main Road,Park/Garden,Others                           9
Club                                                   8
Pool,Park/Garden,Club,Main Road                        7
Others,Main Road                                       7
Main Road,Park/Garden                                  6
Main Road,Others,Park/Garden                           6
Park/Garden,Club                                       5
Pool,Park/Garden,Club                                  4
Others,Park/Garden                                     4
Main Road,Others,Park/Garden,Pool,Club                 4
Park/Garden,Main Road,Club,Pool,Others                 4
Park/Garden,Others,Main Road                           4
Pool,Park/Garden,Club,Main Road,Others                 4
Park/Garden,Others                                     3
Pool,Main Road,Park/Garden,Others,Club                 3
Park/Garden,Main Road,Club                             3
Main Road,Club,Park/Garden,Pool,Others                 3
Others,Main Road,Park/Garden,Pool,Club                 3
Club,Main Road,Park/Garden                             3
Park/Garden,Club,Pool                                  2
Pool,Park/Garden,Main Road                             2
Park/Garden,Club,Pool,Others                           2
Club,Main Road,Park/Garden,Pool                        2
Club,Park/Garden                                       2
Park/Garden,Club,Main Road,Pool                        2
Club,Main Road                                         2
Main Road,Club,Park/Garden,Pool                        2
Pool,Main Road,Park/Garden,Others                      2
Pool,Park/Garden,Main Road,Club                        2
Pool,Club,Park/Garden,Main Road,Others                 2
Main Road,Park/Garden,Pool,Others                      1
Main Road,Club                                         1
Park/Garden,Main Road,Others,Sea facing                1
Main Road,Pool,Park/Garden,Others,Club                 1
Main Road,Others,Park/Garden,Club,Pool                 1
Park/Garden,Main Road,Club,Pool                        1
Park/Garden,Club,Main Road,Others,Pool                 1
Club,Park/Garden,Pool,Others                           1
Pool,Park/Garden,Club,Others                           1
Others,Main Road,Club,Pool,Park/Garden                 1
Main Road,Club,Park/Garden                             1
Park/Garden,Main Road,Club,Others                      1
Pool,Park/Garden,Club,Main Road,Others,Sea facing      1
Park/Garden,Pool,Main Road                             1
Park/Garden,Main Road,Club,Others,Sea facing           1
Park/Garden,Main Road,Others,Club                      1
Club,Pool,Park/Garden,Main Road                        1
Club,Park/Garden,Main Road                             1
Park/Garden,Pool,Club                                  1
Park/Garden,Club,Main Road,Others                      1
Main Road,Park/Garden,Club,Pool                        1
Club,Park/Garden,Pool                                  1
Park/Garden,Pool,Club,Main Road                        1
Others,Pool,Park/Garden,Club                           1
Park/Garden,Main Road,Club,Sea facing                  1
Pool                                                   1
Park/Garden,Main Road,Pool,Club,Sea facing,Others      1
Park/Garden,Pool,Club,Main Road,Others                 1
Main Road,Others,Pool,Park/Garden,Club                 1
Others,Main Road,Pool,Park/Garden,Club                 1
Pool,Club,Main Road,Park/Garden                        1
Pool,Park/Garden,Main Road,Club,Others                 1
Main Road,Park/Garden,Club,Others                      1
Name: count, dtype: int64

In [149]:
def overlooking_func(x):
    if pd.notna(x):
        temp = sorted(x.split(','))
        return ','.join(temp)
    return x

In [150]:
df['Overlooking'] = df['Overlooking'].apply(overlooking_func)

In [151]:
df['Overlooking'].value_counts()

Overlooking
Club,Main Road,Park/Garden                           143
Others                                                66
Park/Garden                                           53
Main Road                                             51
Main Road,Others                                      44
Main Road,Others,Park/Garden                          42
Main Road,Park/Garden                                 40
Club,Main Road,Others,Park/Garden,Pool                31
Club,Main Road,Park/Garden,Pool                       20
Club,Park/Garden,Pool                                  8
Club                                                   8
Club,Park/Garden                                       7
Others,Park/Garden                                     7
Club,Others,Park/Garden,Pool                           5
Club,Main Road,Others,Park/Garden                      4
Main Road,Others,Park/Garden,Pool                      3
Main Road,Park/Garden,Pool                             3
Club,Main Road                                         3
Club,Main Road,Others,Park/Garden,Pool,Sea facing      2
Club,Main Road,Others,Park/Garden,Sea facing           1
Club,Main Road,Park/Garden,Sea facing                  1
Pool                                                   1
Main Road,Others,Park/Garden,Sea facing                1
Name: count, dtype: int64

In [152]:
df.head()

,property_id,property_name,property_type,link,Society,address1,address2,PricePerUnit,area,area_unit,bedRoom,bathroom,balcony,additionalRoom,facing,FloorNo,TotalFloors,Overlooking,agePossession,Flooring,GatedCommunity,Furnishing,RoadFacing,Parking,WaterSource,PowerBackup,WheelChairFriendly,PetFriendly,description,furnishDetails,features,price
0,W76639483,3BHK 3Baths,Independent/Builder Floor for Sale,https://www.99acres.com/3-bhk-bedroom-independ...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","8,000 per sq.ft.",Super Built up area 1750(162.58 sq.m.) sq.ft.,sq.ft.,3,3,3,Store Room,East,2,2,Main Road,5 to 10 Year Old,Ceramic,Yes,Unfurnished,80.0 Feet,1 Open,24*7 Water,Full,NaN,NaN,Located in the foothills of the shivalik range...,NaN,"['Security / Fire Alarm', 'Maintenance Staff',...",1.4 Cr
1,J75852183,3BHK 3Baths,Independent/Builder Floor for Sale,https://www.99acres.com/3-bhk-bedroom-independ...,NaN,"pkl, Sector 7 Panchkula, Panchkula, Haryana","Sector 7 Panchkula, Panchkula, Haryana","15,806 per sq.ft.",Super Built up area 1800(167.23 sq.m.)Carpet a...,sq.ft.,3,3,2,NaN,South-West,4,4,Main Road,1 to 5 Year Old,Marble,NaN,Semifurnished,50.0 Feet,"2 Covered, 1 Open",Municipal corporation,NaN,NaN,NaN,On prime b road right next to chandigarh entry...,"['3 Wardrobe', '7 Fan', '1 Exhaust Fan', '6 Li...","['Water Storage', 'Rain Water Harvesting']",2.45 Cr
2,M75685609,3BHK 3Baths,Flat/Apartment for Sale,https://www.99acres.com/3-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","7,714 per sq.ft.",Super Built up area 1750(162.58 sq.m.) sq.ft.,sq.ft.,3,3,2,Servant Room,NaN,1,2,NaN,1 to 5 Year Old,NaN,NaN,Semifurnished,NaN,NaN,NaN,NaN,NaN,NaN,This 3 bhk apartment is available for sale in ...,"['2 Wardrobe', '1 Modular Kitchen', 'No AC', '...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...",1.35 Cr
3,O75685647,3BHK 3Baths,Flat/Apartment for Sale,https://www.99acres.com/3-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","9,714 per sq.ft.",Super Built up area 1575(146.32 sq.m.) sq.ft.,sq.ft.,3,3,2,Servant Room,NaN,0,2,NaN,1 to 5 Year Old,NaN,NaN,Semifurnished,NaN,NaN,NaN,NaN,NaN,NaN,This 3 bhk apartment is available for sale in ...,"['2 Wardrobe', '1 Modular Kitchen', 'No AC', '...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...",1.7 Cr
4,W75986869,4BHK 1Bath,Flat/Apartment for Sale,https://www.99acres.com/4-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","13,461 per sq.ft.",Carpet area: 2600 (241.55 sq.m.) sq.ft.,sq.ft.,4,1,3,NaN,NaN,2,4,"Club,Others,Park/Garden,Pool",0 to 1 Year Old,Marble,Yes,NaN,50.0 Feet,2 Covered,"24*7 Water,Borewell/Tank,Municipal corporation",Full,Yes,Yes,This beautiful 4 bhk flat in sector 3 panchkul...,[],"['Lift(s)', 'High Ceiling Height', 'False Ceil...",3.5 Cr

In [153]:
df['Overlooking'].isna().sum()

170

### agePossession

In [154]:
df['agePossession'].value_counts()

agePossession
0 to 1 Year Old       272
1 to 5 Year Old       194
5 to 10 Year Old      132
10+ Year Old           72
Dec 2025                6
Under Construction      5
Mar 2026                5
Within 6 months         4
May 2025                3
Jan 2025                2
Jun 2026                2
Within 3 months         2
Oct 2026                2
Nov 2025                1
Dec 2026                1
Feb 2027                1
Apr 2027                1
By 2025                 1
Nov 2024                1
Dec 2024                1
Feb 2026                1
May 2026                1
Jul 2025                1
Aug 2027                1
Sep 2025                1
Nov 2026                1
Name: count, dtype: int64

In [155]:
def age_possess_func(x):
    if pd.notna(x):
        if x == '10+ Year Old':
            return 'Old'
        elif x == '5 to 10 Year Old':
            return 'ModOld'
        elif x == '1 to 5 Year Old':
            return 'RelNew'
        elif x == '0 to 1 Year Old':
            return 'New'
        else:
            return 'UndConst'
    return x

In [156]:
df['agePossession'] = df['agePossession'].apply(age_possess_func)

In [157]:
df['agePossession'].value_counts()

agePossession
New         272
RelNew      194
ModOld      132
Old          72
UndConst     44
Name: count, dtype: int64

### Flooring

In [158]:
df['Flooring'].value_counts()

Flooring
Vitrified            152
Granite              151
Marble               108
Ceramic               46
Mosaic                39
Others                11
Wood                  11
Concrete               4
Vinyl                  3
Polished concrete      3
Cement                 2
Stone                  1
Name: count, dtype: int64

In [159]:
df['Flooring'].isna().sum()

183

In [160]:
# will handle missing values later

### GatedCommunity

In [161]:
df['GatedCommunity'].value_counts()

GatedCommunity
Yes    453
Name: count, dtype: int64

In [162]:
df['GatedCommunity'].isna().sum()

261

In [163]:
df['GatedCommunity'].fillna(value = 'No',inplace = True)

In [164]:
df['GatedCommunity'].value_counts()

GatedCommunity
Yes    453
No     261
Name: count, dtype: int64

### PetFriendly

In [165]:
df['PetFriendly'].value_counts()

PetFriendly
Yes    204
Name: count, dtype: int64

In [166]:
df['PetFriendly'].isna().sum()

510

In [167]:
df['PetFriendly'].fillna(value = 'No',inplace = True)

In [168]:
df['PetFriendly'].value_counts()

PetFriendly
No     510
Yes    204
Name: count, dtype: int64

### Furnishing

In [169]:
df['Furnishing'].value_counts()

Furnishing
Semifurnished    400
Unfurnished      241
Furnished         41
Name: count, dtype: int64

In [170]:
df['Furnishing'].isna().sum()

32

In [171]:
### will handle missing value later

### RoadFacing

In [172]:
df['RoadFacing']

0       80.0 Feet
1       50.0 Feet
2             NaN
3             NaN
4       50.0 Feet
5       84.0 Feet
6             NaN
7             NaN
8       35.0 Feet
9       30.0 Feet
10            NaN
11            NaN
12      80.0 Feet
13      40.0 Feet
14      40.0 Feet
15      40.0 Feet
16            NaN
17      84.0 Feet
18      40.0 Feet
19            NaN
20      40.0 Feet
21            NaN
22            NaN
23      45.0 Feet
24      45.0 Feet
25            NaN
26      40.0 Feet
27      40.0 Feet
28      40.0 Feet
29      40.0 Feet
30      40.0 Feet
31            NaN
32            NaN
33            NaN
34            NaN
35            NaN
36            NaN
37      84.0 Feet
38            NaN
39      40.0 Feet
40      60.0 Feet
41            NaN
42            NaN
43            NaN
44            NaN
45            NaN
46      40.0 Feet
47            NaN
48            NaN
49            NaN
50            NaN
51            NaN
52            NaN
53            NaN
54            NaN
55            NaN
56      65.0 Feet
57            NaN
58            NaN
59            NaN
60            NaN
61            NaN
62            NaN
63            NaN
64      65.0 Feet
65      45.0 Feet
66      65.0 Feet
67      65.0 Feet
68      65.0 Feet
69      65.0 Feet
70      65.0 Feet
71      65.0 Feet
72      65.0 Feet
73      45.0 Feet
74      65.0 Feet
75      45.0 Feet
76      65.0 Feet
77      45.0 Feet
78            NaN
79      45.0 Feet
80      45.0 Feet
81      40.0 Feet
82      40.0 Feet
83      40.0 Feet
84      40.0 Feet
85      40.0 Feet
86      40.0 Feet
87      40.0 Feet
88      40.0 Feet
89      40.0 Feet
90      40.0 Feet
91      40.0 Feet
92      40.0 Feet
93      40.0 Feet
94      40.0 Feet
95      40.0 Feet
96      40.0 Feet
97      40.0 Feet
98      40.0 Feet
99      40.0 Feet
100     40.0 Feet
101     40.0 Feet
102     40.0 Feet
103     40.0 Feet
104     40.0 Feet
105     40.0 Feet
106     40.0 Feet
107     40.0 Feet
108     40.0 Feet
109     40.0 Feet
110     40.0 Feet
111     40.0 Feet
112     40.0 Feet
113     40.0 Feet
114     40.0 Feet
115     40.0 Feet
116     40.0 Feet
117     40.0 Feet
118     40.0 Feet
119     40.0 Feet
120     40.0 Feet
121     40.0 Feet
122     40.0 Feet
123     40.0 Feet
124     40.0 Feet
125     40.0 Feet
126     40.0 Feet
127     40.0 Feet
128     40.0 Feet
129     40.0 Feet
130     40.0 Feet
131     40.0 Feet
132     40.0 Feet
133     40.0 Feet
134     40.0 Feet
135     40.0 Feet
136     40.0 Feet
137     40.0 Feet
138     40.0 Feet
139     40.0 Feet
140     40.0 Feet
141     40.0 Feet
142     40.0 Feet
143     40.0 Feet
144     40.0 Feet
145     40.0 Feet
146     40.0 Feet
147     40.0 Feet
148     40.0 Feet
149     40.0 Feet
150     40.0 Feet
151     40.0 Feet
152     40.0 Feet
153     40.0 Feet
154     40.0 Feet
155     40.0 Feet
156     40.0 Feet
157     40.0 Feet
158     40.0 Feet
159     40.0 Feet
160     40.0 Feet
161     40.0 Feet
162     40.0 Feet
163     40.0 Feet
164     40.0 Feet
165     40.0 Feet
166     40.0 Feet
167     40.0 Feet
168     40.0 Feet
169     40.0 Feet
170     40.0 Feet
171     40.0 Feet
172     40.0 Feet
173     40.0 Feet
174     40.0 Feet
175     40.0 Feet
176     40.0 Feet
177     40.0 Feet
178     40.0 Feet
179     40.0 Feet
180     40.0 Feet
181           NaN
182           NaN
183     35.0 Feet
184     39.4 Feet
185     39.4 Feet
186     60.0 Feet
187     66.0 Feet
188     66.0 Feet
189           NaN
190           NaN
191     60.0 Feet
192     60.0 Feet
193     80.0 Feet
194           NaN
195     30.0 Feet
196     35.0 Feet
197           NaN
198           NaN
199           NaN
200    100.0 Feet
201     65.0 Feet
202           NaN
203     40.0 Feet
204           NaN
205           NaN
206           NaN
207           NaN
208     20.0 Feet
209     25.0 Feet
210     35.0 Feet
211     24.0 Feet
212     14.0 Feet
213           NaN
214           NaN
215           NaN
216      9.0 Feet
217           NaN
218           NaN
219           NaN
220     15.0 Feet
221     60.0 Feet
222           NaN
223           NaN
224           NaN
225           NaN
226           NaN
227     60.0 Feet
228           NaN
229     40.0 Feet
230     30.0 Feet
231           NaN
232           NaN
233           NaN
234           NaN
235           NaN
236     12.0 Feet
237     60.0 Feet
238           NaN
239    100.0 Feet
240     40.0 Feet
241     80.0 Feet
242    100.0 Feet
243           NaN
244    100.0 Feet
245     40.0 Feet
246     35.0 Feet
247     40.0 Feet
248           NaN
249     40.0 Feet
250     40.0 Feet
251     40.0 Feet
252     39.4 Feet
253     40.0 Feet
254     40.0 Feet
255     60.0 Feet
256           NaN
257     40.0 Feet
258     30.0 Feet
259           NaN
260           NaN
261     39.4 Feet
262     30.0 Feet
263           NaN
264           NaN
265     35.0 Feet
266     39.4 Feet
267     30.0 Feet
268           NaN
269    100.0 Feet
270           NaN
271           NaN
272     45.0 Feet
273     32.8 Feet
274     32.8 Feet
275           NaN
276     40.0 Feet
277     30.0 Feet
278     40.0 Feet
279     35.0 Feet
280     40.0 Feet
281     40.0 Feet
282     40.0 Feet
283     40.0 Feet
284           NaN
285           NaN
286     35.0 Feet
287     39.4 Feet
288           NaN
289     25.0 Feet
290           NaN
291     59.1 Feet
292     32.8 Feet
293     59.1 Feet
294     32.8 Feet
295     59.1 Feet
296           NaN
297           NaN
298     39.4 Feet
299     39.4 Feet
300           NaN
301           NaN
302     60.0 Feet
303           NaN
304           NaN
305           NaN
306     40.0 Feet
307     40.0 Feet
308           NaN
309     40.0 Feet
310     60.0 Feet
311     50.0 Feet
312     50.0 Feet
313    100.0 Feet
314    100.0 Feet
315     50.0 Feet
316           NaN
317     25.0 Feet
318     30.0 Feet
319     30.0 Feet
320           NaN
321     40.0 Feet
322           NaN
323           NaN
324           NaN
325           NaN
326     40.0 Feet
327     40.0 Feet
328     40.0 Feet
329     40.0 Feet
330     30.0 Feet
331     40.0 Feet
332           NaN
333           NaN
334           NaN
335           NaN
336           NaN
337     40.0 Feet
338           NaN
339           NaN
340     40.0 Feet
341     30.0 Feet
342     59.1 Feet
343           NaN
344           NaN
345           NaN
346     25.0 Feet
347     25.0 Feet
348     24.0 Feet
349     33.0 Feet
350     60.0 Feet
351     35.0 Feet
352     39.4 Feet
353     39.4 Feet
354     39.4 Feet
355     39.4 Feet
356     39.4 Feet
357     65.0 Feet
358     80.0 Feet
359           NaN
360           NaN
361           NaN
362           NaN
363           NaN
364           NaN
365           NaN
366           NaN
367           NaN
368           NaN
369           NaN
370           NaN
371           NaN
372           NaN
373           NaN
374           NaN
375           NaN
376           NaN
377     80.0 Feet
378           NaN
379     32.8 Feet
380     32.8 Feet
381     32.8 Feet
382     32.8 Feet
383     32.8 Feet
384     40.0 Feet
385     35.0 Feet
386     39.4 Feet
387           NaN
388           NaN
389           NaN
390           NaN
391           NaN
392     35.0 Feet
393           NaN
394     65.0 Feet
395     80.0 Feet
396     80.0 Feet
397     80.0 Feet
398     80.0 Feet
399     80.0 Feet
400     80.0 Feet
401     80.0 Feet
402     80.0 Feet
403     80.0 Feet
404     80.0 Feet
405     80.0 Feet
406     80.0 Feet
407     15.0 Feet
408     80.0 Feet
409     30.0 Feet
410           NaN
411     35.0 Feet
412     35.0 Feet
413     35.0 Feet
414     35.0 Feet
415           NaN
416     30.0 Feet
417     45.0 Feet
418           NaN
419           NaN
420           NaN
421           NaN
422           NaN
423     40.0 Feet
424           NaN
425     35.0 Feet
426     45.0 Feet
427     40.0 Feet
428     30.0 Feet
429           NaN
430           NaN
431           NaN
432           NaN
433           NaN
434           NaN
435           NaN
436           NaN
437           NaN
438           NaN
439           NaN
440           NaN
441           NaN
442           NaN
443    147.6 Feet
444           NaN
445           NaN
446           NaN
447           NaN
448           NaN
449     25.0 Feet
450           NaN
451     50.0 Feet
452           NaN
453           NaN
454     39.4 Feet
455           NaN
456           NaN
457           NaN
458    196.9 Feet
459           NaN
460           NaN
461           NaN
462           NaN
463           NaN
464           NaN
465           NaN
466     49.8 Feet
467     49.2 Feet
468     50.0 Feet
469     48.9 Feet
470           NaN
471     30.0 Feet
472     30.0 Feet
473     30.0 Feet
474     30.0 Feet
475     80.0 Feet
476           NaN
477     30.0 Feet
478     30.0 Feet
479           NaN
480           NaN
481           NaN
482           NaN
483           NaN
484           NaN
485           NaN
486           NaN
487           NaN
488           NaN
489           NaN
490           NaN
491           NaN
492           NaN
493     40.0 Feet
494     60.0 Feet
495           NaN
496           NaN
497           NaN
498           NaN
499           NaN
500           NaN
501           NaN
502           NaN
503           NaN
504           NaN
505           NaN
506           NaN
507           NaN
508           NaN
509           NaN
510           NaN
511           NaN
512           NaN
513           NaN
514           NaN
515           NaN
516           NaN
517     33.0 Feet
518     45.0 Feet
519     65.0 Feet
520     65.0 Feet
521     65.0 Feet
522     65.0 Feet
523     55.0 Feet
524     35.0 Feet
525     65.0 Feet
526     40.0 Feet
527     35.0 Feet
528     40.0 Feet
529     40.0 Feet
530     40.0 Feet
531     40.0 Feet
532     40.0 Feet
533     40.0 Feet
534     40.0 Feet
535     40.0 Feet
536     40.0 Feet
537     40.0 Feet
538     40.0 Feet
539     40.0 Feet
540     40.0 Feet
541     40.0 Feet
542     40.0 Feet
543     40.0 Feet
544     40.0 Feet
545     40.0 Feet
546     40.0 Feet
547     40.0 Feet
548     40.0 Feet
549     40.0 Feet
550     40.0 Feet
551     40.0 Feet
552     40.0 Feet
553     40.0 Feet
554     80.0 Feet
555    100.0 Feet
556     80.0 Feet
557           NaN
558           NaN
559           NaN
560           NaN
561           NaN
562           NaN
563           NaN
564           NaN
565           NaN
566           NaN
567           NaN
568           NaN
569           NaN
570           NaN
571           NaN
572           NaN
573           NaN
574           NaN
575           NaN
576           NaN
577           NaN
578           NaN
579     39.4 Feet
580     39.4 Feet
581     39.4 Feet
582     39.4 Feet
583     39.4 Feet
584     39.4 Feet
585     39.4 Feet
586     39.4 Feet
587     39.4 Feet
588     39.4 Feet
589     39.4 Feet
590     39.4 Feet
591     39.4 Feet
592     39.4 Feet
593     39.4 Feet
594     39.4 Feet
595    196.9 Feet
596     39.4 Feet
597     39.4 Feet
598     39.4 Feet
599     98.4 Feet
600           NaN
601     20.0 Feet
602     35.0 Feet
603           NaN
604           NaN
605           NaN
606           NaN
607           NaN
608           NaN
609           NaN
610           NaN
611     39.4 Feet
612     12.0 Feet
613     39.4 Feet
614     39.4 Feet
615           NaN
616           NaN
617     70.0 Feet
618     39.4 Feet
619           NaN
620           NaN
621           NaN
623           NaN
624           NaN
625           NaN
626           NaN
627           NaN
628           NaN
629    100.0 Feet
630           NaN
631           NaN
632     40.0 Feet
633           NaN
634           NaN
635           NaN
636           NaN
637           NaN
638           NaN
639           NaN
640           NaN
641     39.4 Feet
642     39.4 Feet
643     39.4 Feet
644           NaN
645     39.4 Feet
646           NaN
647           NaN
648     35.0 Feet
649           NaN
650     30.0 Feet
651           NaN
652           NaN
653           NaN
654           NaN
655           NaN
656     35.0 Feet
657           NaN
658           NaN
659     80.0 Feet
660           NaN
661           NaN
662           NaN
663           NaN
664    100.0 Feet
665           NaN
666     45.0 Feet
667           NaN
668    100.0 Feet
669           NaN
670           NaN
671           NaN
672           NaN
673           NaN
674           NaN
675           NaN
676     65.0 Feet
677           NaN
678           NaN
679     30.0 Feet
680           NaN
681           NaN
682           NaN
683           NaN
684           NaN
685           NaN
686     35.0 Feet
687           NaN
688           NaN
689           NaN
690           NaN
691           NaN
692           NaN
693           NaN
694           NaN
695           NaN
696           NaN
697           NaN
698           NaN
699           NaN
700           NaN
701           NaN
702           NaN
703           NaN
704           NaN
705           NaN
706           NaN
707           NaN
708           NaN
709           NaN
710           NaN
711     35.0 Feet
712           NaN
713           NaN
714     16.0 Feet
Name: RoadFacing, dtype: object

In [173]:
df['RoadFacing'].isna().sum()

323

In [174]:
def road_fac_func(x):
    if pd.notna(x):
        return float(x.split(' ')[0])
    else:
        return x

In [175]:
df['RoadFacing'] = df['RoadFacing'].apply(road_fac_func)

In [176]:
df.head()

,property_id,property_name,property_type,link,Society,address1,address2,PricePerUnit,area,area_unit,bedRoom,bathroom,balcony,additionalRoom,facing,FloorNo,TotalFloors,Overlooking,agePossession,Flooring,GatedCommunity,Furnishing,RoadFacing,Parking,WaterSource,PowerBackup,WheelChairFriendly,PetFriendly,description,furnishDetails,features,price
0,W76639483,3BHK 3Baths,Independent/Builder Floor for Sale,https://www.99acres.com/3-bhk-bedroom-independ...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","8,000 per sq.ft.",Super Built up area 1750(162.58 sq.m.) sq.ft.,sq.ft.,3,3,3,Store Room,East,2,2,Main Road,ModOld,Ceramic,Yes,Unfurnished,80.0,1 Open,24*7 Water,Full,NaN,No,Located in the foothills of the shivalik range...,NaN,"['Security / Fire Alarm', 'Maintenance Staff',...",1.4 Cr
1,J75852183,3BHK 3Baths,Independent/Builder Floor for Sale,https://www.99acres.com/3-bhk-bedroom-independ...,NaN,"pkl, Sector 7 Panchkula, Panchkula, Haryana","Sector 7 Panchkula, Panchkula, Haryana","15,806 per sq.ft.",Super Built up area 1800(167.23 sq.m.)Carpet a...,sq.ft.,3,3,2,NaN,South-West,4,4,Main Road,RelNew,Marble,No,Semifurnished,50.0,"2 Covered, 1 Open",Municipal corporation,NaN,NaN,No,On prime b road right next to chandigarh entry...,"['3 Wardrobe', '7 Fan', '1 Exhaust Fan', '6 Li...","['Water Storage', 'Rain Water Harvesting']",2.45 Cr
2,M75685609,3BHK 3Baths,Flat/Apartment for Sale,https://www.99acres.com/3-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","7,714 per sq.ft.",Super Built up area 1750(162.58 sq.m.) sq.ft.,sq.ft.,3,3,2,Servant Room,NaN,1,2,NaN,RelNew,NaN,No,Semifurnished,NaN,NaN,NaN,NaN,NaN,No,This 3 bhk apartment is available for sale in ...,"['2 Wardrobe', '1 Modular Kitchen', 'No AC', '...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...",1.35 Cr
3,O75685647,3BHK 3Baths,Flat/Apartment for Sale,https://www.99acres.com/3-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","9,714 per sq.ft.",Super Built up area 1575(146.32 sq.m.) sq.ft.,sq.ft.,3,3,2,Servant Room,NaN,0,2,NaN,RelNew,NaN,No,Semifurnished,NaN,NaN,NaN,NaN,NaN,No,This 3 bhk apartment is available for sale in ...,"['2 Wardrobe', '1 Modular Kitchen', 'No AC', '...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...",1.7 Cr
4,W75986869,4BHK 1Bath,Flat/Apartment for Sale,https://www.99acres.com/4-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","13,461 per sq.ft.",Carpet area: 2600 (241.55 sq.m.) sq.ft.,sq.ft.,4,1,3,NaN,NaN,2,4,"Club,Others,Park/Garden,Pool",New,Marble,Yes,NaN,50.0,2 Covered,"24*7 Water,Borewell/Tank,Municipal corporation",Full,Yes,Yes,This beautiful 4 bhk flat in sector 3 panchkul...,[],"['Lift(s)', 'High Ceiling Height', 'False Ceil...",3.5 Cr

### price

In [177]:
df['price']

0         1.4 Cr
1        2.45 Cr
2        1.35 Cr
3         1.7 Cr
4         3.5 Cr
5         95 Lac
6         72 Lac
7         65 Lac
8         83 Lac
9         75 Lac
10        4.4 Cr
11       3.35 Cr
12        92 Lac
13       1.83 Cr
14       1.81 Cr
15       1.32 Cr
16       1.72 Cr
17       1.25 Cr
18       3.23 Cr
19       1.75 Cr
20       1.25 Cr
21       2.25 Cr
22        90 Lac
23        1.3 Cr
24        1.3 Cr
25        72 Lac
26       3.48 Cr
27       3.24 Cr
28       3.51 Cr
29       3.45 Cr
30       3.25 Cr
31        50 Lac
32      64.9 Lac
33        1.1 Cr
34        62 Lac
35        27 Lac
36        4.3 Cr
37        1.2 Cr
38          1 Cr
39       2.16 Cr
40        3.2 Cr
41        1.8 Cr
42       1.12 Cr
43        2.2 Cr
44        72 Lac
45        71 Lac
46        4.5 Cr
47      39.5 Lac
48        63 Lac
49       1.29 Cr
50       1.24 Cr
51        1.2 Cr
52        2.7 Cr
53        45 Lac
54        75 Lac
55        1.6 Cr
56       1.35 Cr
57       1.15 Cr
58        55 Lac
59       2.14 Cr
60       3.05 Cr
61        5.1 Cr
62       1.83 Cr
63       1.46 Cr
64       1.22 Cr
65       1.25 Cr
66        75 Lac
67        1.5 Cr
68       1.45 Cr
69        1.5 Cr
70       1.15 Cr
71       1.25 Cr
72        1.2 Cr
73        1.7 Cr
74        1.5 Cr
75        12 Lac
76        1.2 Cr
77        60 Lac
78     83.96 Lac
79      86.9 Lac
80      89.9 Lac
81       2.55 Cr
82       2.32 Cr
83       2.35 Cr
84       2.29 Cr
85       2.55 Cr
86       2.35 Cr
87       2.12 Cr
88       2.25 Cr
89       2.22 Cr
90       1.89 Cr
91       2.35 Cr
92       2.64 Cr
93       2.65 Cr
94       2.55 Cr
95       2.65 Cr
96       2.55 Cr
97       2.35 Cr
98       1.75 Cr
99       1.51 Cr
100      2.35 Cr
101      1.51 Cr
102      3.51 Cr
103      3.51 Cr
104      2.55 Cr
105      3.21 Cr
106      1.75 Cr
107      3.51 Cr
108      3.22 Cr
109      3.24 Cr
110      2.13 Cr
111      2.15 Cr
112      2.35 Cr
113      2.65 Cr
114      3.49 Cr
115      3.23 Cr
116      2.35 Cr
117      2.65 Cr
118      2.35 Cr
119      3.25 Cr
120      2.41 Cr
121      2.45 Cr
122      2.45 Cr
123      2.31 Cr
124      2.35 Cr
125      3.25 Cr
126      3.24 Cr
127      3.51 Cr
128      2.15 Cr
129      2.55 Cr
130      2.14 Cr
131      3.51 Cr
132      2.39 Cr
133      3.49 Cr
134      3.49 Cr
135      2.31 Cr
136      2.45 Cr
137      3.51 Cr
138      3.25 Cr
139      2.39 Cr
140      2.31 Cr
141      2.45 Cr
142      3.51 Cr
143      3.21 Cr
144      2.45 Cr
145      2.45 Cr
146      2.15 Cr
147      2.38 Cr
148      2.15 Cr
149      2.15 Cr
150      2.38 Cr
151      3.25 Cr
152      3.45 Cr
153      2.13 Cr
154      2.44 Cr
155      2.29 Cr
156      2.39 Cr
157      2.43 Cr
158      2.31 Cr
159      2.15 Cr
160      2.38 Cr
161      3.23 Cr
162      2.14 Cr
163      2.25 Cr
164      3.47 Cr
165      1.51 Cr
166      2.13 Cr
167      2.44 Cr
168      1.81 Cr
169      3.48 Cr
170      3.21 Cr
171      2.41 Cr
172      2.32 Cr
173      3.51 Cr
174      2.45 Cr
175      2.31 Cr
176      2.15 Cr
177      2.41 Cr
178      2.45 Cr
179      1.84 Cr
180      1.89 Cr
181       96 Lac
182      2.25 Cr
183       65 Lac
184      3.45 Cr
185      3.35 Cr
186       70 Lac
187       77 Lac
188       75 Lac
189       2.8 Cr
190      2.84 Cr
191       65 Lac
192       75 Lac
193    74.99 Lac
194      1.15 Cr
195       35 Lac
196       4.7 Cr
197       2.3 Cr
198       1.9 Cr
199         2 Cr
200       38 Lac
201       40 Lac
202       2.9 Cr
203       2.1 Cr
204       55 Lac
205       55 Lac
206       40 Lac
207       69 Lac
208       70 Lac
209       35 Lac
210       49 Lac
211      1.85 Cr
212      3.75 Cr
213      4.25 Cr
214       1.9 Cr
215      2.25 Cr
216       65 Lac
217      2.95 Cr
218       4.5 Cr
219       1.1 Cr
220      1.65 Cr
221       35 Lac
222      2.75 Cr
223      2.55 Cr
224      1.45 Cr
225       1.1 Cr
226       25 Lac
227       95 Lac
228       6.3 Cr
229       5.7 Cr
230       4.3 Cr
231       46 Lac
232         6 Cr
233      3.15 Cr
234       60 Lac
235       1.2 Cr
236       45 Lac
237       35 Lac
238      1.25 Cr
239      1.07 Cr
240      1.79 Cr
241      2.55 Cr
242       1.4 Cr
243       48 Lac
244       1.4 Cr
245      1.52 Cr
246       2.6 Cr
247       4.4 Cr
248      2.22 Cr
249     79.9 Lac
250      1.65 Cr
251       1.8 Cr
252      3.15 Cr
253      2.65 Cr
254      1.84 Cr
255       75 Lac
256       1.8 Cr
257      2.25 Cr
258       1.8 Cr
259       99 Lac
260      3.12 Cr
261      2.15 Cr
262       1.2 Cr
263     75.9 Lac
264         1 Cr
265       49 Lac
266      2.25 Cr
267       2.3 Cr
268       2.7 Cr
269      3.85 Cr
270       22 Lac
271      2.25 Cr
272       4.8 Cr
273      2.05 Cr
274      2.61 Cr
275      1.55 Cr
276      5.25 Cr
277         3 Cr
278       3.6 Cr
279     49.9 Lac
280    79.25 Lac
281     79.8 Lac
282     80.1 Lac
283      1.65 Cr
284     53.9 Lac
285       61 Lac
286       75 Lac
287      3.75 Cr
288       48 Lac
289      1.75 Cr
290     86.9 Lac
291      1.85 Cr
292       3.4 Cr
293      2.25 Cr
294      2.85 Cr
295      2.25 Cr
296      2.25 Cr
297       96 Lac
298      1.25 Cr
299      1.58 Cr
300      2.25 Cr
301       3.9 Cr
302      2.25 Cr
303         3 Cr
304       70 Lac
305       1.6 Cr
306      2.15 Cr
307      2.75 Cr
308      3.75 Cr
309      1.85 Cr
310      2.75 Cr
311       65 Lac
312       78 Lac
313       82 Lac
314       85 Lac
315       80 Lac
316       58 Lac
317      2.75 Cr
318      2.15 Cr
319       2.5 Cr
320       1.8 Cr
321      1.95 Cr
322      2.05 Cr
323       2.2 Cr
324      3.25 Cr
325      2.75 Cr
326       79 Lac
327       81 Lac
328       80 Lac
329       85 Lac
330         3 Cr
331      1.92 Cr
332       96 Lac
333      2.25 Cr
334       1.2 Cr
335       1.2 Cr
336      1.25 Cr
337        14 Cr
338      2.25 Cr
339       1.3 Cr
340     80.5 Lac
341     84.9 Lac
342       3.9 Cr
343         3 Cr
344       2.5 Cr
345         3 Cr
346       1.8 Cr
347      1.75 Cr
348      1.65 Cr
349      2.09 Cr
350      2.45 Cr
351         8 Cr
352      2.25 Cr
353      2.25 Cr
354      1.63 Cr
355       2.5 Cr
356       2.3 Cr
357     72.5 Lac
358      2.05 Cr
359       2.9 Cr
360     97.5 Lac
361       2.2 Cr
362         3 Cr
363       3.2 Cr
364       2.6 Cr
365       5.3 Cr
366       3.4 Cr
367      3.75 Cr
368      3.25 Cr
369         8 Cr
370      4.25 Cr
371       4.5 Cr
372      4.25 Cr
373         4 Cr
374       3.5 Cr
375       3.5 Cr
376       3.6 Cr
377      1.05 Cr
378       2.3 Cr
379       1.9 Cr
380      2.61 Cr
381      3.99 Cr
382      1.91 Cr
383      1.81 Cr
384       38 Lac
385       92 Lac
386       37 Lac
387      1.85 Cr
388      1.85 Cr
389       1.8 Cr
390      1.95 Cr
391       2.9 Cr
392     47.9 Lac
393      2.15 Cr
394       1.2 Cr
395       2.2 Cr
396       2.5 Cr
397       3.5 Cr
398      1.98 Cr
399      2.35 Cr
400      3.25 Cr
401       1.2 Cr
402      1.37 Cr
403      1.72 Cr
404      1.15 Cr
405       1.3 Cr
406       1.5 Cr
407      1.73 Cr
408       1.3 Cr
409       74 Lac
410       82 Lac
411       48 Lac
412       44 Lac
413       66 Lac
414       83 Lac
415       1.1 Cr
416      1.45 Cr
417      1.75 Cr
418      4.25 Cr
419         3 Cr
420       2.7 Cr
421      1.85 Cr
422      1.15 Cr
423     85.9 Lac
424      1.35 Cr
425       35 Lac
426      2.05 Cr
427       85 Lac
428       83 Lac
429      1.55 Cr
430       75 Lac
431      1.05 Cr
432       75 Lac
433      3.35 Cr
434      4.25 Cr
435         4 Cr
436       1.9 Cr
437       1.9 Cr
438      2.25 Cr
439       2.3 Cr
440      3.25 Cr
441       2.2 Cr
442      1.82 Cr
443      3.85 Cr
444      3.18 Cr
445      1.55 Cr
446       2.1 Cr
447       2.8 Cr
448      2.45 Cr
449      1.89 Cr
450       2.1 Cr
451       60 Lac
452       3.6 Cr
453       57 Lac
454      2.05 Cr
455       7.5 Cr
456      2.25 Cr
457      4.15 Cr
458      4.25 Cr
459       1.3 Cr
460      2.15 Cr
461       2.2 Cr
462         4 Cr
463         2 Cr
464      2.35 Cr
465      1.75 Cr
466      1.21 Cr
467       1.2 Cr
468      1.65 Cr
469       1.4 Cr
470     47.5 Lac
471      2.35 Cr
472      1.75 Cr
473       28 Lac
474       2.8 Cr
475       85 Lac
476      1.35 Cr
477      1.15 Cr
478      1.25 Cr
479      3.25 Cr
480      3.25 Cr
481       7.6 Cr
482       1.8 Cr
483      1.85 Cr
484      1.85 Cr
485      1.35 Cr
486      1.65 Cr
487       1.5 Cr
488       2.5 Cr
489      1.15 Cr
490      1.85 Cr
491       2.5 Cr
492       3.8 Cr
493       4.5 Cr
494      5.75 Cr
495       85 Lac
496      1.42 Cr
497      1.36 Cr
498       1.9 Cr
499       51 Lac
500      3.05 Cr
501     38.5 Lac
502       61 Lac
503       1.8 Cr
504       77 Lac
505     37.5 Lac
506       99 Lac
507      2.75 Cr
508       70 Lac
509       85 Lac
510      1.89 Cr
511         2 Cr
512      1.83 Cr
513      1.79 Cr
514       89 Lac
515       67 Lac
516       2.6 Cr
517      2.15 Cr
518       95 Lac
519       1.2 Cr
520      1.85 Cr
521       1.5 Cr
522      1.15 Cr
523       45 Lac
524      1.45 Cr
525      1.25 Cr
526      2.25 Cr
527       28 Lac
528      1.61 Cr
529      1.35 Cr
530      2.35 Cr
531      2.65 Cr
532      1.79 Cr
533      3.25 Cr
534      2.35 Cr
535      2.29 Cr
536      2.35 Cr
537      2.63 Cr
538      3.51 Cr
539      2.65 Cr
540      2.65 Cr
541      2.35 Cr
542      2.13 Cr
543      2.15 Cr
544      3.35 Cr
545      2.31 Cr
546      2.39 Cr
547      3.25 Cr
548      1.89 Cr
549      1.79 Cr
550      1.89 Cr
551      1.84 Cr
552      2.31 Cr
553      3.23 Cr
554      1.55 Cr
555       1.9 Cr
556       1.3 Cr
557      1.65 Cr
558       5.5 Cr
559      2.95 Cr
560      2.25 Cr
561      1.95 Cr
562         3 Cr
563       2.5 Cr
564      2.65 Cr
565      2.35 Cr
566       1.9 Cr
567       2.4 Cr
568       2.5 Cr
569      2.35 Cr
570      1.85 Cr
571         3 Cr
572       2.3 Cr
573       2.8 Cr
574       3.5 Cr
575      1.79 Cr
576      1.99 Cr
577      2.85 Cr
578       1.9 Cr
579      1.63 Cr
580       3.7 Cr
581       1.8 Cr
582      1.25 Cr
583       1.4 Cr
584      3.25 Cr
585       3.7 Cr
586      2.35 Cr
587       88 Lac
588      1.85 Cr
589      2.25 Cr
590       7.4 Cr
591      2.78 Cr
592      1.85 Cr
593      3.25 Cr
594       2.2 Cr
595      5.75 Cr
596      2.25 Cr
597      2.95 Cr
598         4 Cr
599      2.65 Cr
600       2.2 Cr
601      1.25 Cr
602     74.9 Lac
603      4.25 Cr
604      1.85 Cr
605      1.65 Cr
606      2.25 Cr
607       95 Lac
608       1.9 Cr
609      1.85 Cr
610      4.25 Cr
611      2.63 Cr
612      2.15 Cr
613       90 Lac
614         1 Cr
615       24 Lac
616       2.5 Cr
617      1.08 Cr
618      2.05 Cr
619       2.5 Cr
620     13.5 Lac
621      4.75 Cr
623       39 Lac
624      1.25 Cr
625       1.8 Cr
626      2.75 Cr
627      2.75 Cr
628       35 Lac
629       52 Lac
630      2.15 Cr
631         2 Cr
632       5.5 Cr
633       1.5 Cr
634       2.5 Cr
635      2.25 Cr
636       1.2 Cr
637      1.85 Cr
638       50 Lac
639       45 Lac
640         4 Cr
641       1.8 Cr
642       1.5 Cr
643       1.8 Cr
644      1.05 Cr
645       2.4 Cr
646      1.75 Cr
647      1.95 Cr
648       45 Lac
649       32 Lac
650       65 Lac
651       1.5 Cr
652      1.85 Cr
653         2 Cr
654       1.2 Cr
655       2.2 Cr
656       45 Lac
657      1.85 Cr
658      2.35 Cr
659       1.6 Cr
660       90 Lac
661       1.9 Cr
662       1.6 Cr
663      1.85 Cr
664       2.2 Cr
665       90 Lac
666       45 Lac
667       2.6 Cr
668      4.75 Cr
669      1.16 Cr
670       56 Lac
671       2.9 Cr
672       2.1 Cr
673      2.75 Cr
674      2.15 Cr
675       1.8 Cr
676       55 Lac
677       18 Lac
678       25 Lac
679       80 Lac
680       1.2 Cr
681       1.2 Cr
682      1.51 Cr
683       2.5 Cr
684       50 Lac
685       50 Lac
686       48 Lac
687       40 Lac
688       4.4 Cr
689      2.25 Cr
690      2.15 Cr
691      1.35 Cr
692      1.65 Cr
693       50 Lac
694       50 Lac
695     49.9 Lac
696      3.25 Cr
697       46 Lac
698     38.5 Lac
699         4 Cr
700       45 Lac
701       25 Lac
702       65 Lac
703      1.85 Cr
704       45 Lac
705       20 Lac
706       1.9 Cr
707       75 Lac
708       20 Lac
709      1.15 Cr
710       1.5 Cr
711     44.9 Lac
712       35 Lac
713      1.98 Cr
714     26.5 Lac
Name: price, dtype: object

In [178]:
df[df['price'] == 'Price on Request']

Empty DataFrame
Columns: [property_id, property_name, property_type, link, Society, address1, address2, PricePerUnit, area, area_unit, bedRoom, bathroom, balcony, additionalRoom, facing, FloorNo, TotalFloors, Overlooking, agePossession, Flooring, GatedCommunity, Furnishing, RoadFacing, Parking, WaterSource, PowerBackup, WheelChairFriendly, PetFriendly, description, furnishDetails, features, price]
Index: []

In [179]:
df[df['price'] == 'Available on Request']

Empty DataFrame
Columns: [property_id, property_name, property_type, link, Society, address1, address2, PricePerUnit, area, area_unit, bedRoom, bathroom, balcony, additionalRoom, facing, FloorNo, TotalFloors, Overlooking, agePossession, Flooring, GatedCommunity, Furnishing, RoadFacing, Parking, WaterSource, PowerBackup, WheelChairFriendly, PetFriendly, description, furnishDetails, features, price]
Index: []

In [180]:
#df.drop([1106,654],inplace = True)

In [181]:
def price_func(x):
    if pd.notna(x):
        temp = x.split(' ')
        if temp[-1] == 'Cr':
            return float(temp[0])
        elif temp[-1] == 'Lac':
            return (float(temp[0]))/100
        else:
            return x
    else:
        return x

In [182]:
df['price']

0         1.4 Cr
1        2.45 Cr
2        1.35 Cr
3         1.7 Cr
4         3.5 Cr
5         95 Lac
6         72 Lac
7         65 Lac
8         83 Lac
9         75 Lac
10        4.4 Cr
11       3.35 Cr
12        92 Lac
13       1.83 Cr
14       1.81 Cr
15       1.32 Cr
16       1.72 Cr
17       1.25 Cr
18       3.23 Cr
19       1.75 Cr
20       1.25 Cr
21       2.25 Cr
22        90 Lac
23        1.3 Cr
24        1.3 Cr
25        72 Lac
26       3.48 Cr
27       3.24 Cr
28       3.51 Cr
29       3.45 Cr
30       3.25 Cr
31        50 Lac
32      64.9 Lac
33        1.1 Cr
34        62 Lac
35        27 Lac
36        4.3 Cr
37        1.2 Cr
38          1 Cr
39       2.16 Cr
40        3.2 Cr
41        1.8 Cr
42       1.12 Cr
43        2.2 Cr
44        72 Lac
45        71 Lac
46        4.5 Cr
47      39.5 Lac
48        63 Lac
49       1.29 Cr
50       1.24 Cr
51        1.2 Cr
52        2.7 Cr
53        45 Lac
54        75 Lac
55        1.6 Cr
56       1.35 Cr
57       1.15 Cr
58        55 Lac
59       2.14 Cr
60       3.05 Cr
61        5.1 Cr
62       1.83 Cr
63       1.46 Cr
64       1.22 Cr
65       1.25 Cr
66        75 Lac
67        1.5 Cr
68       1.45 Cr
69        1.5 Cr
70       1.15 Cr
71       1.25 Cr
72        1.2 Cr
73        1.7 Cr
74        1.5 Cr
75        12 Lac
76        1.2 Cr
77        60 Lac
78     83.96 Lac
79      86.9 Lac
80      89.9 Lac
81       2.55 Cr
82       2.32 Cr
83       2.35 Cr
84       2.29 Cr
85       2.55 Cr
86       2.35 Cr
87       2.12 Cr
88       2.25 Cr
89       2.22 Cr
90       1.89 Cr
91       2.35 Cr
92       2.64 Cr
93       2.65 Cr
94       2.55 Cr
95       2.65 Cr
96       2.55 Cr
97       2.35 Cr
98       1.75 Cr
99       1.51 Cr
100      2.35 Cr
101      1.51 Cr
102      3.51 Cr
103      3.51 Cr
104      2.55 Cr
105      3.21 Cr
106      1.75 Cr
107      3.51 Cr
108      3.22 Cr
109      3.24 Cr
110      2.13 Cr
111      2.15 Cr
112      2.35 Cr
113      2.65 Cr
114      3.49 Cr
115      3.23 Cr
116      2.35 Cr
117      2.65 Cr
118      2.35 Cr
119      3.25 Cr
120      2.41 Cr
121      2.45 Cr
122      2.45 Cr
123      2.31 Cr
124      2.35 Cr
125      3.25 Cr
126      3.24 Cr
127      3.51 Cr
128      2.15 Cr
129      2.55 Cr
130      2.14 Cr
131      3.51 Cr
132      2.39 Cr
133      3.49 Cr
134      3.49 Cr
135      2.31 Cr
136      2.45 Cr
137      3.51 Cr
138      3.25 Cr
139      2.39 Cr
140      2.31 Cr
141      2.45 Cr
142      3.51 Cr
143      3.21 Cr
144      2.45 Cr
145      2.45 Cr
146      2.15 Cr
147      2.38 Cr
148      2.15 Cr
149      2.15 Cr
150      2.38 Cr
151      3.25 Cr
152      3.45 Cr
153      2.13 Cr
154      2.44 Cr
155      2.29 Cr
156      2.39 Cr
157      2.43 Cr
158      2.31 Cr
159      2.15 Cr
160      2.38 Cr
161      3.23 Cr
162      2.14 Cr
163      2.25 Cr
164      3.47 Cr
165      1.51 Cr
166      2.13 Cr
167      2.44 Cr
168      1.81 Cr
169      3.48 Cr
170      3.21 Cr
171      2.41 Cr
172      2.32 Cr
173      3.51 Cr
174      2.45 Cr
175      2.31 Cr
176      2.15 Cr
177      2.41 Cr
178      2.45 Cr
179      1.84 Cr
180      1.89 Cr
181       96 Lac
182      2.25 Cr
183       65 Lac
184      3.45 Cr
185      3.35 Cr
186       70 Lac
187       77 Lac
188       75 Lac
189       2.8 Cr
190      2.84 Cr
191       65 Lac
192       75 Lac
193    74.99 Lac
194      1.15 Cr
195       35 Lac
196       4.7 Cr
197       2.3 Cr
198       1.9 Cr
199         2 Cr
200       38 Lac
201       40 Lac
202       2.9 Cr
203       2.1 Cr
204       55 Lac
205       55 Lac
206       40 Lac
207       69 Lac
208       70 Lac
209       35 Lac
210       49 Lac
211      1.85 Cr
212      3.75 Cr
213      4.25 Cr
214       1.9 Cr
215      2.25 Cr
216       65 Lac
217      2.95 Cr
218       4.5 Cr
219       1.1 Cr
220      1.65 Cr
221       35 Lac
222      2.75 Cr
223      2.55 Cr
224      1.45 Cr
225       1.1 Cr
226       25 Lac
227       95 Lac
228       6.3 Cr
229       5.7 Cr
230       4.3 Cr
231       46 Lac
232         6 Cr
233      3.15 Cr
234       60 Lac
235       1.2 Cr
236       45 Lac
237       35 Lac
238      1.25 Cr
239      1.07 Cr
240      1.79 Cr
241      2.55 Cr
242       1.4 Cr
243       48 Lac
244       1.4 Cr
245      1.52 Cr
246       2.6 Cr
247       4.4 Cr
248      2.22 Cr
249     79.9 Lac
250      1.65 Cr
251       1.8 Cr
252      3.15 Cr
253      2.65 Cr
254      1.84 Cr
255       75 Lac
256       1.8 Cr
257      2.25 Cr
258       1.8 Cr
259       99 Lac
260      3.12 Cr
261      2.15 Cr
262       1.2 Cr
263     75.9 Lac
264         1 Cr
265       49 Lac
266      2.25 Cr
267       2.3 Cr
268       2.7 Cr
269      3.85 Cr
270       22 Lac
271      2.25 Cr
272       4.8 Cr
273      2.05 Cr
274      2.61 Cr
275      1.55 Cr
276      5.25 Cr
277         3 Cr
278       3.6 Cr
279     49.9 Lac
280    79.25 Lac
281     79.8 Lac
282     80.1 Lac
283      1.65 Cr
284     53.9 Lac
285       61 Lac
286       75 Lac
287      3.75 Cr
288       48 Lac
289      1.75 Cr
290     86.9 Lac
291      1.85 Cr
292       3.4 Cr
293      2.25 Cr
294      2.85 Cr
295      2.25 Cr
296      2.25 Cr
297       96 Lac
298      1.25 Cr
299      1.58 Cr
300      2.25 Cr
301       3.9 Cr
302      2.25 Cr
303         3 Cr
304       70 Lac
305       1.6 Cr
306      2.15 Cr
307      2.75 Cr
308      3.75 Cr
309      1.85 Cr
310      2.75 Cr
311       65 Lac
312       78 Lac
313       82 Lac
314       85 Lac
315       80 Lac
316       58 Lac
317      2.75 Cr
318      2.15 Cr
319       2.5 Cr
320       1.8 Cr
321      1.95 Cr
322      2.05 Cr
323       2.2 Cr
324      3.25 Cr
325      2.75 Cr
326       79 Lac
327       81 Lac
328       80 Lac
329       85 Lac
330         3 Cr
331      1.92 Cr
332       96 Lac
333      2.25 Cr
334       1.2 Cr
335       1.2 Cr
336      1.25 Cr
337        14 Cr
338      2.25 Cr
339       1.3 Cr
340     80.5 Lac
341     84.9 Lac
342       3.9 Cr
343         3 Cr
344       2.5 Cr
345         3 Cr
346       1.8 Cr
347      1.75 Cr
348      1.65 Cr
349      2.09 Cr
350      2.45 Cr
351         8 Cr
352      2.25 Cr
353      2.25 Cr
354      1.63 Cr
355       2.5 Cr
356       2.3 Cr
357     72.5 Lac
358      2.05 Cr
359       2.9 Cr
360     97.5 Lac
361       2.2 Cr
362         3 Cr
363       3.2 Cr
364       2.6 Cr
365       5.3 Cr
366       3.4 Cr
367      3.75 Cr
368      3.25 Cr
369         8 Cr
370      4.25 Cr
371       4.5 Cr
372      4.25 Cr
373         4 Cr
374       3.5 Cr
375       3.5 Cr
376       3.6 Cr
377      1.05 Cr
378       2.3 Cr
379       1.9 Cr
380      2.61 Cr
381      3.99 Cr
382      1.91 Cr
383      1.81 Cr
384       38 Lac
385       92 Lac
386       37 Lac
387      1.85 Cr
388      1.85 Cr
389       1.8 Cr
390      1.95 Cr
391       2.9 Cr
392     47.9 Lac
393      2.15 Cr
394       1.2 Cr
395       2.2 Cr
396       2.5 Cr
397       3.5 Cr
398      1.98 Cr
399      2.35 Cr
400      3.25 Cr
401       1.2 Cr
402      1.37 Cr
403      1.72 Cr
404      1.15 Cr
405       1.3 Cr
406       1.5 Cr
407      1.73 Cr
408       1.3 Cr
409       74 Lac
410       82 Lac
411       48 Lac
412       44 Lac
413       66 Lac
414       83 Lac
415       1.1 Cr
416      1.45 Cr
417      1.75 Cr
418      4.25 Cr
419         3 Cr
420       2.7 Cr
421      1.85 Cr
422      1.15 Cr
423     85.9 Lac
424      1.35 Cr
425       35 Lac
426      2.05 Cr
427       85 Lac
428       83 Lac
429      1.55 Cr
430       75 Lac
431      1.05 Cr
432       75 Lac
433      3.35 Cr
434      4.25 Cr
435         4 Cr
436       1.9 Cr
437       1.9 Cr
438      2.25 Cr
439       2.3 Cr
440      3.25 Cr
441       2.2 Cr
442      1.82 Cr
443      3.85 Cr
444      3.18 Cr
445      1.55 Cr
446       2.1 Cr
447       2.8 Cr
448      2.45 Cr
449      1.89 Cr
450       2.1 Cr
451       60 Lac
452       3.6 Cr
453       57 Lac
454      2.05 Cr
455       7.5 Cr
456      2.25 Cr
457      4.15 Cr
458      4.25 Cr
459       1.3 Cr
460      2.15 Cr
461       2.2 Cr
462         4 Cr
463         2 Cr
464      2.35 Cr
465      1.75 Cr
466      1.21 Cr
467       1.2 Cr
468      1.65 Cr
469       1.4 Cr
470     47.5 Lac
471      2.35 Cr
472      1.75 Cr
473       28 Lac
474       2.8 Cr
475       85 Lac
476      1.35 Cr
477      1.15 Cr
478      1.25 Cr
479      3.25 Cr
480      3.25 Cr
481       7.6 Cr
482       1.8 Cr
483      1.85 Cr
484      1.85 Cr
485      1.35 Cr
486      1.65 Cr
487       1.5 Cr
488       2.5 Cr
489      1.15 Cr
490      1.85 Cr
491       2.5 Cr
492       3.8 Cr
493       4.5 Cr
494      5.75 Cr
495       85 Lac
496      1.42 Cr
497      1.36 Cr
498       1.9 Cr
499       51 Lac
500      3.05 Cr
501     38.5 Lac
502       61 Lac
503       1.8 Cr
504       77 Lac
505     37.5 Lac
506       99 Lac
507      2.75 Cr
508       70 Lac
509       85 Lac
510      1.89 Cr
511         2 Cr
512      1.83 Cr
513      1.79 Cr
514       89 Lac
515       67 Lac
516       2.6 Cr
517      2.15 Cr
518       95 Lac
519       1.2 Cr
520      1.85 Cr
521       1.5 Cr
522      1.15 Cr
523       45 Lac
524      1.45 Cr
525      1.25 Cr
526      2.25 Cr
527       28 Lac
528      1.61 Cr
529      1.35 Cr
530      2.35 Cr
531      2.65 Cr
532      1.79 Cr
533      3.25 Cr
534      2.35 Cr
535      2.29 Cr
536      2.35 Cr
537      2.63 Cr
538      3.51 Cr
539      2.65 Cr
540      2.65 Cr
541      2.35 Cr
542      2.13 Cr
543      2.15 Cr
544      3.35 Cr
545      2.31 Cr
546      2.39 Cr
547      3.25 Cr
548      1.89 Cr
549      1.79 Cr
550      1.89 Cr
551      1.84 Cr
552      2.31 Cr
553      3.23 Cr
554      1.55 Cr
555       1.9 Cr
556       1.3 Cr
557      1.65 Cr
558       5.5 Cr
559      2.95 Cr
560      2.25 Cr
561      1.95 Cr
562         3 Cr
563       2.5 Cr
564      2.65 Cr
565      2.35 Cr
566       1.9 Cr
567       2.4 Cr
568       2.5 Cr
569      2.35 Cr
570      1.85 Cr
571         3 Cr
572       2.3 Cr
573       2.8 Cr
574       3.5 Cr
575      1.79 Cr
576      1.99 Cr
577      2.85 Cr
578       1.9 Cr
579      1.63 Cr
580       3.7 Cr
581       1.8 Cr
582      1.25 Cr
583       1.4 Cr
584      3.25 Cr
585       3.7 Cr
586      2.35 Cr
587       88 Lac
588      1.85 Cr
589      2.25 Cr
590       7.4 Cr
591      2.78 Cr
592      1.85 Cr
593      3.25 Cr
594       2.2 Cr
595      5.75 Cr
596      2.25 Cr
597      2.95 Cr
598         4 Cr
599      2.65 Cr
600       2.2 Cr
601      1.25 Cr
602     74.9 Lac
603      4.25 Cr
604      1.85 Cr
605      1.65 Cr
606      2.25 Cr
607       95 Lac
608       1.9 Cr
609      1.85 Cr
610      4.25 Cr
611      2.63 Cr
612      2.15 Cr
613       90 Lac
614         1 Cr
615       24 Lac
616       2.5 Cr
617      1.08 Cr
618      2.05 Cr
619       2.5 Cr
620     13.5 Lac
621      4.75 Cr
623       39 Lac
624      1.25 Cr
625       1.8 Cr
626      2.75 Cr
627      2.75 Cr
628       35 Lac
629       52 Lac
630      2.15 Cr
631         2 Cr
632       5.5 Cr
633       1.5 Cr
634       2.5 Cr
635      2.25 Cr
636       1.2 Cr
637      1.85 Cr
638       50 Lac
639       45 Lac
640         4 Cr
641       1.8 Cr
642       1.5 Cr
643       1.8 Cr
644      1.05 Cr
645       2.4 Cr
646      1.75 Cr
647      1.95 Cr
648       45 Lac
649       32 Lac
650       65 Lac
651       1.5 Cr
652      1.85 Cr
653         2 Cr
654       1.2 Cr
655       2.2 Cr
656       45 Lac
657      1.85 Cr
658      2.35 Cr
659       1.6 Cr
660       90 Lac
661       1.9 Cr
662       1.6 Cr
663      1.85 Cr
664       2.2 Cr
665       90 Lac
666       45 Lac
667       2.6 Cr
668      4.75 Cr
669      1.16 Cr
670       56 Lac
671       2.9 Cr
672       2.1 Cr
673      2.75 Cr
674      2.15 Cr
675       1.8 Cr
676       55 Lac
677       18 Lac
678       25 Lac
679       80 Lac
680       1.2 Cr
681       1.2 Cr
682      1.51 Cr
683       2.5 Cr
684       50 Lac
685       50 Lac
686       48 Lac
687       40 Lac
688       4.4 Cr
689      2.25 Cr
690      2.15 Cr
691      1.35 Cr
692      1.65 Cr
693       50 Lac
694       50 Lac
695     49.9 Lac
696      3.25 Cr
697       46 Lac
698     38.5 Lac
699         4 Cr
700       45 Lac
701       25 Lac
702       65 Lac
703      1.85 Cr
704       45 Lac
705       20 Lac
706       1.9 Cr
707       75 Lac
708       20 Lac
709      1.15 Cr
710       1.5 Cr
711     44.9 Lac
712       35 Lac
713      1.98 Cr
714     26.5 Lac
Name: price, dtype: object

In [183]:
df['price'] = df['price'].apply(price_func)

### Parking

In [184]:
df['Parking']

0                  1 Open
1       2 Covered, 1 Open
2                     NaN
3                     NaN
4               2 Covered
5       1 Covered, 1 Open
6               1 Covered
7               1 Covered
8       1 Covered, 1 Open
9       1 Covered, 1 Open
10      1 Covered, 1 Open
11      1 Covered, 1 Open
12      1 Covered, 1 Open
13                 1 Open
14                 1 Open
15                 1 Open
16                 1 Open
17      1 Covered, 1 Open
18                 1 Open
19                    NaN
20                 2 Open
21                 1 Open
22                    NaN
23      1 Covered, 1 Open
24              1 Covered
25      1 Covered, 1 Open
26                 1 Open
27                 1 Open
28                 1 Open
29                 1 Open
30                 1 Open
31              1 Covered
32              1 Covered
33              1 Covered
34              1 Covered
35                 1 Open
36              1 Covered
37      1 Covered, 1 Open
38      1 Covered, 0 Open
39              2 Covered
40      1 Covered, 1 Open
41      1 Covered, 1 Open
42                    NaN
43                    NaN
44      1 Covered, 1 Open
45      1 Covered, 1 Open
46                    NaN
47      1 Covered, 1 Open
48      1 Covered, 1 Open
49      1 Covered, 1 Open
50      1 Covered, 1 Open
51      1 Covered, 1 Open
52      1 Covered, 1 Open
53      1 Covered, 1 Open
54      1 Covered, 1 Open
55      1 Covered, 1 Open
56      1 Covered, 1 Open
57      1 Covered, 1 Open
58      1 Covered, 1 Open
59      1 Covered, 1 Open
60      1 Covered, 1 Open
61      1 Covered, 1 Open
62      2 Covered, 1 Open
63              1 Covered
64              1 Covered
65      1 Covered, 1 Open
66      1 Covered, 1 Open
67      1 Covered, 1 Open
68      1 Covered, 1 Open
69              1 Covered
70              1 Covered
71              1 Covered
72              1 Covered
73              1 Covered
74              1 Covered
75              1 Covered
76              1 Covered
77      1 Covered, 1 Open
78              1 Covered
79              1 Covered
80              1 Covered
81                 1 Open
82                 1 Open
83                 1 Open
84                 1 Open
85                 1 Open
86                 1 Open
87              2 Covered
88              1 Covered
89              2 Covered
90              2 Covered
91                 1 Open
92                 1 Open
93                 1 Open
94                 1 Open
95                 1 Open
96                 1 Open
97                 1 Open
98                 1 Open
99                 1 Open
100                   NaN
101                1 Open
102                1 Open
103                1 Open
104                1 Open
105                1 Open
106                1 Open
107                1 Open
108                1 Open
109                1 Open
110             2 Covered
111             2 Covered
112                1 Open
113                1 Open
114                1 Open
115                1 Open
116                1 Open
117                1 Open
118                1 Open
119                1 Open
120                1 Open
121                1 Open
122                1 Open
123                1 Open
124                1 Open
125                1 Open
126                1 Open
127                1 Open
128                1 Open
129                1 Open
130                1 Open
131                1 Open
132                1 Open
133                1 Open
134                1 Open
135                1 Open
136                1 Open
137                1 Open
138                1 Open
139                1 Open
140                1 Open
141                1 Open
142                1 Open
143                1 Open
144                1 Open
145                1 Open
146             2 Covered
147                1 Open
148                1 Open
149                1 Open
150                1 Open
151                1 Open
152                1 Open
153                1 Open
154                1 Open
155                1 Open
156                1 Open
157                1 Open
158                1 Open
159                1 Open
160                1 Open
161                1 Open
162                1 Open
163                1 Open
164                1 Open
165                1 Open
166                1 Open
167                1 Open
168                1 Open
169                1 Open
170                1 Open
171                1 Open
172                1 Open
173                1 Open
174                1 Open
175                1 Open
176                1 Open
177                1 Open
178                1 Open
179             2 Covered
180             2 Covered
181     1 Covered, 1 Open
182     1 Covered, 1 Open
183     1 Covered, 1 Open
184     2 Covered, 2 Open
185     2 Covered, 2 Open
186     1 Covered, 1 Open
187     1 Covered, 1 Open
188     1 Covered, 1 Open
189     1 Covered, 1 Open
190     1 Covered, 1 Open
191     1 Covered, 1 Open
192     1 Covered, 1 Open
193     1 Covered, 1 Open
194     1 Covered, 1 Open
195             1 Covered
196    10 Covered, 4 Open
197             1 Covered
198     1 Covered, 1 Open
199                   NaN
200     1 Covered, 1 Open
201     1 Covered, 1 Open
202             4 Covered
203                2 Open
204             1 Covered
205             1 Covered
206                1 Open
207             2 Covered
208     1 Covered, 2 Open
209     1 Covered, 2 Open
210     1 Covered, 1 Open
211                1 Open
212     2 Covered, 1 Open
213             1 Covered
214                1 Open
215     2 Covered, 1 Open
216             1 Covered
217             2 Covered
218     4 Covered, 2 Open
219      2 Covered,  Open
220             2 Covered
221     1 Covered, 1 Open
222                   NaN
223     1 Covered, 1 Open
224                2 Open
225             2 Covered
226                1 Open
227             1 Covered
228     2 Covered, 2 Open
229     2 Covered, 2 Open
230     1 Covered, 1 Open
231       Covered, 1 Open
232     2 Covered, 2 Open
233             1 Covered
234     1 Covered, 1 Open
235             1 Covered
236               20 Open
237                3 Open
238                   NaN
239                1 Open
240                2 Open
241             2 Covered
242                1 Open
243             1 Covered
244                2 Open
245                2 Open
246     1 Covered, 1 Open
247     4 Covered, 4 Open
248     1 Covered, 1 Open
249             1 Covered
250                1 Open
251                2 Open
252     3 Covered, 2 Open
253                2 Open
254             2 Covered
255             1 Covered
256                   NaN
257             2 Covered
258                1 Open
259             1 Covered
260     2 Covered, 0 Open
261             2 Covered
262                1 Open
263     1 Covered, 1 Open
264             1 Covered
265     1 Covered, 1 Open
266     1 Covered, 1 Open
267             1 Covered
268             2 Covered
269     2 Covered, 2 Open
270        Covered,  Open
271                   NaN
272     2 Covered, 2 Open
273     1 Covered, 1 Open
274     2 Covered, 1 Open
275             1 Covered
276     2 Covered, 2 Open
277     2 Covered, 2 Open
278     1 Covered, 1 Open
279     1 Covered, 1 Open
280             1 Covered
281             1 Covered
282             1 Covered
283                2 Open
284             1 Covered
285     1 Covered, 1 Open
286     1 Covered, 1 Open
287     3 Covered, 9 Open
288             1 Covered
289             1 Covered
290     1 Covered, 1 Open
291     2 Covered, 1 Open
292     2 Covered, 2 Open
293     2 Covered, 2 Open
294     2 Covered, 2 Open
295     2 Covered, 2 Open
296             1 Covered
297     1 Covered, 1 Open
298     1 Covered, 2 Open
299     1 Covered, 1 Open
300     2 Covered, 2 Open
301     2 Covered, 2 Open
302                   NaN
303             2 Covered
304                2 Open
305                1 Open
306     2 Covered, 2 Open
307                   NaN
308     3 Covered, 2 Open
309     2 Covered, 2 Open
310     2 Covered, 2 Open
311     1 Covered, 1 Open
312     1 Covered, 1 Open
313     1 Covered, 1 Open
314     1 Covered, 1 Open
315     1 Covered, 1 Open
316                   NaN
317     2 Covered, 1 Open
318             2 Covered
319             2 Covered
320             2 Covered
321                1 Open
322     1 Covered, 2 Open
323     1 Covered, 2 Open
324     1 Covered, 2 Open
325     1 Covered, 2 Open
326             1 Covered
327             1 Covered
328             1 Covered
329             1 Covered
330     1 Covered, 2 Open
331                2 Open
332     1 Covered, 1 Open
333             1 Covered
334     1 Covered, 3 Open
335     1 Covered, 1 Open
336             1 Covered
337                   NaN
338                2 Open
339                1 Open
340             1 Covered
341     1 Covered, 1 Open
342     3 Covered, 2 Open
343     3 Covered, 1 Open
344             1 Covered
345             1 Covered
346                1 Open
347                1 Open
348             1 Covered
349             2 Covered
350             2 Covered
351     3 Covered, 2 Open
352     1 Covered, 2 Open
353     3 Covered, 2 Open
354     1 Covered, 1 Open
355     2 Covered, 2 Open
356     1 Covered, 2 Open
357     1 Covered, 1 Open
358     1 Covered, 1 Open
359     2 Covered, 2 Open
360     1 Covered, 1 Open
361     2 Covered, 2 Open
362     1 Covered, 2 Open
363     2 Covered, 2 Open
364     2 Covered, 2 Open
365     2 Covered, 2 Open
366     1 Covered, 2 Open
367     1 Covered, 2 Open
368     2 Covered, 3 Open
369     2 Covered, 2 Open
370     2 Covered, 2 Open
371     1 Covered, 2 Open
372     2 Covered, 2 Open
373     2 Covered, 2 Open
374     2 Covered, 2 Open
375     2 Covered, 2 Open
376     1 Covered, 1 Open
377     1 Covered, 1 Open
378                   NaN
379     2 Covered, 1 Open
380     2 Covered, 1 Open
381     3 Covered, 1 Open
382     2 Covered, 1 Open
383     2 Covered, 1 Open
384     1 Covered, 1 Open
385             1 Covered
386     1 Covered, 1 Open
387     1 Covered, 1 Open
388                   NaN
389     1 Covered, 1 Open
390     1 Covered, 1 Open
391     2 Covered, 2 Open
392     1 Covered, 1 Open
393     1 Covered, 2 Open
394             1 Covered
395                1 Open
396                1 Open
397                1 Open
398                1 Open
399                1 Open
400                1 Open
401                1 Open
402                1 Open
403                2 Open
404                1 Open
405                1 Open
406                1 Open
407             2 Covered
408                1 Open
409     1 Covered, 1 Open
410     1 Covered, 1 Open
411     1 Covered, 1 Open
412     1 Covered, 1 Open
413     1 Covered, 1 Open
414     1 Covered, 1 Open
415     1 Covered, 1 Open
416     2 Covered, 2 Open
417             2 Covered
418     1 Covered, 1 Open
419     1 Covered, 1 Open
420     1 Covered, 2 Open
421     2 Covered, 2 Open
422                   NaN
423     1 Covered, 1 Open
424             1 Covered
425             1 Covered
426     1 Covered, 1 Open
427             1 Covered
428     1 Covered, 1 Open
429     1 Covered, 1 Open
430     1 Covered, 1 Open
431     1 Covered, 1 Open
432                   NaN
433     1 Covered, 1 Open
434             2 Covered
435     2 Covered, 2 Open
436     1 Covered, 1 Open
437     2 Covered, 1 Open
438      1 Covered,  Open
439      1 Covered,  Open
440        Covered,  Open
441      1 Covered,  Open
442        Covered,  Open
443     2 Covered, 4 Open
444      2 Covered,  Open
445      0 Covered,  Open
446        Covered,  Open
447     1 Covered, 1 Open
448             1 Covered
449             1 Covered
450     2 Covered, 2 Open
451             1 Covered
452     2 Covered, 2 Open
453     1 Covered, 1 Open
454     2 Covered, 2 Open
455     3 Covered, 2 Open
456     2 Covered, 1 Open
457     3 Covered, 3 Open
458     2 Covered, 6 Open
459     1 Covered, 1 Open
460     1 Covered, 4 Open
461             2 Covered
462             2 Covered
463     2 Covered, 1 Open
464             2 Covered
465             2 Covered
466             1 Covered
467     1 Covered, 1 Open
468             1 Covered
469                1 Open
470     1 Covered, 1 Open
471             2 Covered
472             1 Covered
473     1 Covered, 1 Open
474     1 Covered, 1 Open
475     1 Covered, 1 Open
476     1 Covered, 1 Open
477     1 Covered, 1 Open
478     1 Covered, 1 Open
479     2 Covered, 2 Open
480     2 Covered, 2 Open
481     2 Covered, 2 Open
482     1 Covered, 1 Open
483     1 Covered, 1 Open
484             1 Covered
485        Covered,  Open
486     1 Covered, 1 Open
487     1 Covered, 1 Open
488     1 Covered, 1 Open
489     1 Covered, 1 Open
490     2 Covered, 1 Open
491     1 Covered, 1 Open
492                   NaN
493     2 Covered, 2 Open
494                   NaN
495     1 Covered, 1 Open
496     1 Covered, 1 Open
497     1 Covered, 1 Open
498     1 Covered, 1 Open
499     1 Covered, 1 Open
500     1 Covered, 1 Open
501     1 Covered, 1 Open
502     1 Covered, 1 Open
503     1 Covered, 1 Open
504     1 Covered, 1 Open
505     1 Covered, 1 Open
506     1 Covered, 1 Open
507     1 Covered, 1 Open
508     1 Covered, 1 Open
509     1 Covered, 1 Open
510     1 Covered, 1 Open
511     1 Covered, 1 Open
512     1 Covered, 1 Open
513     1 Covered, 1 Open
514     1 Covered, 1 Open
515     1 Covered, 1 Open
516     1 Covered, 1 Open
517     1 Covered, 1 Open
518     1 Covered, 1 Open
519     1 Covered, 1 Open
520             1 Covered
521     1 Covered, 1 Open
522             1 Covered
523             2 Covered
524             1 Covered
525     1 Covered, 1 Open
526             3 Covered
527                   NaN
528                1 Open
529                1 Open
530                1 Open
531                1 Open
532             2 Covered
533                1 Open
534                1 Open
535                1 Open
536                1 Open
537                1 Open
538                1 Open
539                1 Open
540                1 Open
541                1 Open
542             2 Covered
543             2 Covered
544             2 Covered
545                1 Open
546                1 Open
547                1 Open
548             2 Covered
549             2 Covered
550             2 Covered
551             2 Covered
552                1 Open
553                1 Open
554     1 Covered, 1 Open
555     2 Covered, 4 Open
556     1 Covered, 1 Open
557     1 Covered, 2 Open
558     2 Covered, 2 Open
559     2 Covered, 2 Open
560     1 Covered, 2 Open
561     1 Covered, 2 Open
562     1 Covered, 1 Open
563     1 Covered, 2 Open
564     1 Covered, 2 Open
565     1 Covered, 2 Open
566     1 Covered, 2 Open
567     1 Covered, 2 Open
568     1 Covered, 2 Open
569     1 Covered, 2 Open
570     1 Covered, 2 Open
571     1 Covered, 2 Open
572     1 Covered, 2 Open
573     1 Covered, 1 Open
574     1 Covered, 2 Open
575             2 Covered
576             2 Covered
577     2 Covered, 1 Open
578     2 Covered, 1 Open
579     1 Covered, 2 Open
580     1 Covered, 2 Open
581     1 Covered, 2 Open
582     1 Covered, 1 Open
583     1 Covered, 1 Open
584     1 Covered, 2 Open
585     1 Covered, 2 Open
586     1 Covered, 1 Open
587     1 Covered, 1 Open
588     1 Covered, 2 Open
589     1 Covered, 2 Open
590     3 Covered, 3 Open
591     2 Covered, 2 Open
592     1 Covered, 2 Open
593     1 Covered, 2 Open
594     1 Covered, 2 Open
595     2 Covered, 2 Open
596     1 Covered, 2 Open
597     2 Covered, 2 Open
598     3 Covered, 4 Open
599     3 Covered, 3 Open
600             2 Covered
601     1 Covered, 1 Open
602     1 Covered, 1 Open
603     1 Covered, 1 Open
604     1 Covered, 1 Open
605                   NaN
606     1 Covered, 2 Open
607     1 Covered, 1 Open
608     1 Covered, 2 Open
609     1 Covered, 2 Open
610             2 Covered
611     2 Covered, 2 Open
612     1 Covered, 2 Open
613     1 Covered, 1 Open
614                2 Open
615     1 Covered, 1 Open
616     1 Covered, 2 Open
617     1 Covered, 1 Open
618     1 Covered, 2 Open
619                2 Open
620     1 Covered, 1 Open
621     2 Covered, 1 Open
623     1 Covered, 1 Open
624     1 Covered, 1 Open
625     1 Covered, 1 Open
626                   NaN
627                   NaN
628                1 Open
629             2 Covered
630     1 Covered, 1 Open
631             2 Covered
632     2 Covered, 2 Open
633     1 Covered, 1 Open
634                   NaN
635     1 Covered, 1 Open
636                2 Open
637             2 Covered
638                1 Open
639                   NaN
640             2 Covered
641     1 Covered, 2 Open
642     1 Covered, 2 Open
643     1 Covered, 2 Open
644     1 Covered, 1 Open
645     1 Covered, 2 Open
646      2 Covered,  Open
647                1 Open
648                1 Open
649                1 Open
650     1 Covered, 1 Open
651                   NaN
652     1 Covered, 1 Open
653     1 Covered, 1 Open
654     1 Covered, 2 Open
655     2 Covered, 1 Open
656             1 Covered
657     1 Covered, 2 Open
658     1 Covered, 2 Open
659     1 Covered, 1 Open
660                   NaN
661             1 Covered
662     2 Covered, 4 Open
663             2 Covered
664     2 Covered, 1 Open
665     1 Covered, 1 Open
666     1 Covered, 1 Open
667             2 Covered
668     5 Covered, 2 Open
669     1 Covered, 1 Open
670             1 Covered
671                   NaN
672     1 Covered, 2 Open
673     1 Covered, 2 Open
674     1 Covered, 2 Open
675             1 Covered
676             1 Covered
677     1 Covered, 1 Open
678                   NaN
679                2 Open
680             2 Covered
681                   NaN
682     2 Covered, 1 Open
683     2 Covered, 2 Open
684             1 Covered
685             1 Covered
686     1 Covered, 1 Open
687     1 Covered, 1 Open
688     2 Covered, 2 Open
689     1 Covered, 2 Open
690     1 Covered, 2 Open
691     1 Covered, 1 Open
692                   NaN
693     1 Covered, 1 Open
694     1 Covered, 1 Open
695                   NaN
696                   NaN
697     1 Covered, 1 Open
698             1 Covered
699     2 Covered, 2 Open
700             1 Covered
701                   NaN
702     1 Covered, 1 Open
703      2 Covered,  Open
704                   NaN
705                   NaN
706             1 Covered
707     0 Covered, 0 Open
708       Covered, 1 Open
709             1 Covered
710     1 Covered, 1 Open
711             1 Covered
712             1 Covered
713             1 Covered
714                1 Open
Name: Parking, dtype: object

In [185]:
def park_func(x):
    Covered = 0
    Open = 0
    if pd.notna(x):
        temp = x.split(',')
        if len(temp) >= 2:
            # Covered
            cov_tmp = temp[0].strip().split(' ')
            if cov_tmp[0].isnumeric():
                Covered = int(cov_tmp[0])
                
            # Open
            open_tmp = temp[-1].strip().split(' ')
            if open_tmp[0].isnumeric():
                Open = int(open_tmp[0])
        else:
            if temp[0].split(' ')[0].isnumeric():
                if 'Covered' in temp[0]:
                    Covered = temp[0].split(' ')[0]
                else:
                    Open = temp[0].split(' ')[0]
    return Covered,Open

In [186]:
df['Parking'].apply(park_func)

0       (0, 1)
1       (2, 1)
2       (0, 0)
3       (0, 0)
4       (2, 0)
5       (1, 1)
6       (1, 0)
7       (1, 0)
8       (1, 1)
9       (1, 1)
10      (1, 1)
11      (1, 1)
12      (1, 1)
13      (0, 1)
14      (0, 1)
15      (0, 1)
16      (0, 1)
17      (1, 1)
18      (0, 1)
19      (0, 0)
20      (0, 2)
21      (0, 1)
22      (0, 0)
23      (1, 1)
24      (1, 0)
25      (1, 1)
26      (0, 1)
27      (0, 1)
28      (0, 1)
29      (0, 1)
30      (0, 1)
31      (1, 0)
32      (1, 0)
33      (1, 0)
34      (1, 0)
35      (0, 1)
36      (1, 0)
37      (1, 1)
38      (1, 0)
39      (2, 0)
40      (1, 1)
41      (1, 1)
42      (0, 0)
43      (0, 0)
44      (1, 1)
45      (1, 1)
46      (0, 0)
47      (1, 1)
48      (1, 1)
49      (1, 1)
50      (1, 1)
51      (1, 1)
52      (1, 1)
53      (1, 1)
54      (1, 1)
55      (1, 1)
56      (1, 1)
57      (1, 1)
58      (1, 1)
59      (1, 1)
60      (1, 1)
61      (1, 1)
62      (2, 1)
63      (1, 0)
64      (1, 0)
65      (1, 1)
66      (1, 1)
67      (1, 1)
68      (1, 1)
69      (1, 0)
70      (1, 0)
71      (1, 0)
72      (1, 0)
73      (1, 0)
74      (1, 0)
75      (1, 0)
76      (1, 0)
77      (1, 1)
78      (1, 0)
79      (1, 0)
80      (1, 0)
81      (0, 1)
82      (0, 1)
83      (0, 1)
84      (0, 1)
85      (0, 1)
86      (0, 1)
87      (2, 0)
88      (1, 0)
89      (2, 0)
90      (2, 0)
91      (0, 1)
92      (0, 1)
93      (0, 1)
94      (0, 1)
95      (0, 1)
96      (0, 1)
97      (0, 1)
98      (0, 1)
99      (0, 1)
100     (0, 0)
101     (0, 1)
102     (0, 1)
103     (0, 1)
104     (0, 1)
105     (0, 1)
106     (0, 1)
107     (0, 1)
108     (0, 1)
109     (0, 1)
110     (2, 0)
111     (2, 0)
112     (0, 1)
113     (0, 1)
114     (0, 1)
115     (0, 1)
116     (0, 1)
117     (0, 1)
118     (0, 1)
119     (0, 1)
120     (0, 1)
121     (0, 1)
122     (0, 1)
123     (0, 1)
124     (0, 1)
125     (0, 1)
126     (0, 1)
127     (0, 1)
128     (0, 1)
129     (0, 1)
130     (0, 1)
131     (0, 1)
132     (0, 1)
133     (0, 1)
134     (0, 1)
135     (0, 1)
136     (0, 1)
137     (0, 1)
138     (0, 1)
139     (0, 1)
140     (0, 1)
141     (0, 1)
142     (0, 1)
143     (0, 1)
144     (0, 1)
145     (0, 1)
146     (2, 0)
147     (0, 1)
148     (0, 1)
149     (0, 1)
150     (0, 1)
151     (0, 1)
152     (0, 1)
153     (0, 1)
154     (0, 1)
155     (0, 1)
156     (0, 1)
157     (0, 1)
158     (0, 1)
159     (0, 1)
160     (0, 1)
161     (0, 1)
162     (0, 1)
163     (0, 1)
164     (0, 1)
165     (0, 1)
166     (0, 1)
167     (0, 1)
168     (0, 1)
169     (0, 1)
170     (0, 1)
171     (0, 1)
172     (0, 1)
173     (0, 1)
174     (0, 1)
175     (0, 1)
176     (0, 1)
177     (0, 1)
178     (0, 1)
179     (2, 0)
180     (2, 0)
181     (1, 1)
182     (1, 1)
183     (1, 1)
184     (2, 2)
185     (2, 2)
186     (1, 1)
187     (1, 1)
188     (1, 1)
189     (1, 1)
190     (1, 1)
191     (1, 1)
192     (1, 1)
193     (1, 1)
194     (1, 1)
195     (1, 0)
196    (10, 4)
197     (1, 0)
198     (1, 1)
199     (0, 0)
200     (1, 1)
201     (1, 1)
202     (4, 0)
203     (0, 2)
204     (1, 0)
205     (1, 0)
206     (0, 1)
207     (2, 0)
208     (1, 2)
209     (1, 2)
210     (1, 1)
211     (0, 1)
212     (2, 1)
213     (1, 0)
214     (0, 1)
215     (2, 1)
216     (1, 0)
217     (2, 0)
218     (4, 2)
219     (2, 0)
220     (2, 0)
221     (1, 1)
222     (0, 0)
223     (1, 1)
224     (0, 2)
225     (2, 0)
226     (0, 1)
227     (1, 0)
228     (2, 2)
229     (2, 2)
230     (1, 1)
231     (0, 1)
232     (2, 2)
233     (1, 0)
234     (1, 1)
235     (1, 0)
236    (0, 20)
237     (0, 3)
238     (0, 0)
239     (0, 1)
240     (0, 2)
241     (2, 0)
242     (0, 1)
243     (1, 0)
244     (0, 2)
245     (0, 2)
246     (1, 1)
247     (4, 4)
248     (1, 1)
249     (1, 0)
250     (0, 1)
251     (0, 2)
252     (3, 2)
253     (0, 2)
254     (2, 0)
255     (1, 0)
256     (0, 0)
257     (2, 0)
258     (0, 1)
259     (1, 0)
260     (2, 0)
261     (2, 0)
262     (0, 1)
263     (1, 1)
264     (1, 0)
265     (1, 1)
266     (1, 1)
267     (1, 0)
268     (2, 0)
269     (2, 2)
270     (0, 0)
271     (0, 0)
272     (2, 2)
273     (1, 1)
274     (2, 1)
275     (1, 0)
276     (2, 2)
277     (2, 2)
278     (1, 1)
279     (1, 1)
280     (1, 0)
281     (1, 0)
282     (1, 0)
283     (0, 2)
284     (1, 0)
285     (1, 1)
286     (1, 1)
287     (3, 9)
288     (1, 0)
289     (1, 0)
290     (1, 1)
291     (2, 1)
292     (2, 2)
293     (2, 2)
294     (2, 2)
295     (2, 2)
296     (1, 0)
297     (1, 1)
298     (1, 2)
299     (1, 1)
300     (2, 2)
301     (2, 2)
302     (0, 0)
303     (2, 0)
304     (0, 2)
305     (0, 1)
306     (2, 2)
307     (0, 0)
308     (3, 2)
309     (2, 2)
310     (2, 2)
311     (1, 1)
312     (1, 1)
313     (1, 1)
314     (1, 1)
315     (1, 1)
316     (0, 0)
317     (2, 1)
318     (2, 0)
319     (2, 0)
320     (2, 0)
321     (0, 1)
322     (1, 2)
323     (1, 2)
324     (1, 2)
325     (1, 2)
326     (1, 0)
327     (1, 0)
328     (1, 0)
329     (1, 0)
330     (1, 2)
331     (0, 2)
332     (1, 1)
333     (1, 0)
334     (1, 3)
335     (1, 1)
336     (1, 0)
337     (0, 0)
338     (0, 2)
339     (0, 1)
340     (1, 0)
341     (1, 1)
342     (3, 2)
343     (3, 1)
344     (1, 0)
345     (1, 0)
346     (0, 1)
347     (0, 1)
348     (1, 0)
349     (2, 0)
350     (2, 0)
351     (3, 2)
352     (1, 2)
353     (3, 2)
354     (1, 1)
355     (2, 2)
356     (1, 2)
357     (1, 1)
358     (1, 1)
359     (2, 2)
360     (1, 1)
361     (2, 2)
362     (1, 2)
363     (2, 2)
364     (2, 2)
365     (2, 2)
366     (1, 2)
367     (1, 2)
368     (2, 3)
369     (2, 2)
370     (2, 2)
371     (1, 2)
372     (2, 2)
373     (2, 2)
374     (2, 2)
375     (2, 2)
376     (1, 1)
377     (1, 1)
378     (0, 0)
379     (2, 1)
380     (2, 1)
381     (3, 1)
382     (2, 1)
383     (2, 1)
384     (1, 1)
385     (1, 0)
386     (1, 1)
387     (1, 1)
388     (0, 0)
389     (1, 1)
390     (1, 1)
391     (2, 2)
392     (1, 1)
393     (1, 2)
394     (1, 0)
395     (0, 1)
396     (0, 1)
397     (0, 1)
398     (0, 1)
399     (0, 1)
400     (0, 1)
401     (0, 1)
402     (0, 1)
403     (0, 2)
404     (0, 1)
405     (0, 1)
406     (0, 1)
407     (2, 0)
408     (0, 1)
409     (1, 1)
410     (1, 1)
411     (1, 1)
412     (1, 1)
413     (1, 1)
414     (1, 1)
415     (1, 1)
416     (2, 2)
417     (2, 0)
418     (1, 1)
419     (1, 1)
420     (1, 2)
421     (2, 2)
422     (0, 0)
423     (1, 1)
424     (1, 0)
425     (1, 0)
426     (1, 1)
427     (1, 0)
428     (1, 1)
429     (1, 1)
430     (1, 1)
431     (1, 1)
432     (0, 0)
433     (1, 1)
434     (2, 0)
435     (2, 2)
436     (1, 1)
437     (2, 1)
438     (1, 0)
439     (1, 0)
440     (0, 0)
441     (1, 0)
442     (0, 0)
443     (2, 4)
444     (2, 0)
445     (0, 0)
446     (0, 0)
447     (1, 1)
448     (1, 0)
449     (1, 0)
450     (2, 2)
451     (1, 0)
452     (2, 2)
453     (1, 1)
454     (2, 2)
455     (3, 2)
456     (2, 1)
457     (3, 3)
458     (2, 6)
459     (1, 1)
460     (1, 4)
461     (2, 0)
462     (2, 0)
463     (2, 1)
464     (2, 0)
465     (2, 0)
466     (1, 0)
467     (1, 1)
468     (1, 0)
469     (0, 1)
470     (1, 1)
471     (2, 0)
472     (1, 0)
473     (1, 1)
474     (1, 1)
475     (1, 1)
476     (1, 1)
477     (1, 1)
478     (1, 1)
479     (2, 2)
480     (2, 2)
481     (2, 2)
482     (1, 1)
483     (1, 1)
484     (1, 0)
485     (0, 0)
486     (1, 1)
487     (1, 1)
488     (1, 1)
489     (1, 1)
490     (2, 1)
491     (1, 1)
492     (0, 0)
493     (2, 2)
494     (0, 0)
495     (1, 1)
496     (1, 1)
497     (1, 1)
498     (1, 1)
499     (1, 1)
500     (1, 1)
501     (1, 1)
502     (1, 1)
503     (1, 1)
504     (1, 1)
505     (1, 1)
506     (1, 1)
507     (1, 1)
508     (1, 1)
509     (1, 1)
510     (1, 1)
511     (1, 1)
512     (1, 1)
513     (1, 1)
514     (1, 1)
515     (1, 1)
516     (1, 1)
517     (1, 1)
518     (1, 1)
519     (1, 1)
520     (1, 0)
521     (1, 1)
522     (1, 0)
523     (2, 0)
524     (1, 0)
525     (1, 1)
526     (3, 0)
527     (0, 0)
528     (0, 1)
529     (0, 1)
530     (0, 1)
531     (0, 1)
532     (2, 0)
533     (0, 1)
534     (0, 1)
535     (0, 1)
536     (0, 1)
537     (0, 1)
538     (0, 1)
539     (0, 1)
540     (0, 1)
541     (0, 1)
542     (2, 0)
543     (2, 0)
544     (2, 0)
545     (0, 1)
546     (0, 1)
547     (0, 1)
548     (2, 0)
549     (2, 0)
550     (2, 0)
551     (2, 0)
552     (0, 1)
553     (0, 1)
554     (1, 1)
555     (2, 4)
556     (1, 1)
557     (1, 2)
558     (2, 2)
559     (2, 2)
560     (1, 2)
561     (1, 2)
562     (1, 1)
563     (1, 2)
564     (1, 2)
565     (1, 2)
566     (1, 2)
567     (1, 2)
568     (1, 2)
569     (1, 2)
570     (1, 2)
571     (1, 2)
572     (1, 2)
573     (1, 1)
574     (1, 2)
575     (2, 0)
576     (2, 0)
577     (2, 1)
578     (2, 1)
579     (1, 2)
580     (1, 2)
581     (1, 2)
582     (1, 1)
583     (1, 1)
584     (1, 2)
585     (1, 2)
586     (1, 1)
587     (1, 1)
588     (1, 2)
589     (1, 2)
590     (3, 3)
591     (2, 2)
592     (1, 2)
593     (1, 2)
594     (1, 2)
595     (2, 2)
596     (1, 2)
597     (2, 2)
598     (3, 4)
599     (3, 3)
600     (2, 0)
601     (1, 1)
602     (1, 1)
603     (1, 1)
604     (1, 1)
605     (0, 0)
606     (1, 2)
607     (1, 1)
608     (1, 2)
609     (1, 2)
610     (2, 0)
611     (2, 2)
612     (1, 2)
613     (1, 1)
614     (0, 2)
615     (1, 1)
616     (1, 2)
617     (1, 1)
618     (1, 2)
619     (0, 2)
620     (1, 1)
621     (2, 1)
623     (1, 1)
624     (1, 1)
625     (1, 1)
626     (0, 0)
627     (0, 0)
628     (0, 1)
629     (2, 0)
630     (1, 1)
631     (2, 0)
632     (2, 2)
633     (1, 1)
634     (0, 0)
635     (1, 1)
636     (0, 2)
637     (2, 0)
638     (0, 1)
639     (0, 0)
640     (2, 0)
641     (1, 2)
642     (1, 2)
643     (1, 2)
644     (1, 1)
645     (1, 2)
646     (2, 0)
647     (0, 1)
648     (0, 1)
649     (0, 1)
650     (1, 1)
651     (0, 0)
652     (1, 1)
653     (1, 1)
654     (1, 2)
655     (2, 1)
656     (1, 0)
657     (1, 2)
658     (1, 2)
659     (1, 1)
660     (0, 0)
661     (1, 0)
662     (2, 4)
663     (2, 0)
664     (2, 1)
665     (1, 1)
666     (1, 1)
667     (2, 0)
668     (5, 2)
669     (1, 1)
670     (1, 0)
671     (0, 0)
672     (1, 2)
673     (1, 2)
674     (1, 2)
675     (1, 0)
676     (1, 0)
677     (1, 1)
678     (0, 0)
679     (0, 2)
680     (2, 0)
681     (0, 0)
682     (2, 1)
683     (2, 2)
684     (1, 0)
685     (1, 0)
686     (1, 1)
687     (1, 1)
688     (2, 2)
689     (1, 2)
690     (1, 2)
691     (1, 1)
692     (0, 0)
693     (1, 1)
694     (1, 1)
695     (0, 0)
696     (0, 0)
697     (1, 1)
698     (1, 0)
699     (2, 2)
700     (1, 0)
701     (0, 0)
702     (1, 1)
703     (2, 0)
704     (0, 0)
705     (0, 0)
706     (1, 0)
707     (0, 0)
708     (0, 1)
709     (1, 0)
710     (1, 1)
711     (1, 0)
712     (1, 0)
713     (1, 0)
714     (0, 1)
Name: Parking, dtype: object

In [187]:
parking_df = df['Parking'].apply(park_func).apply(pd.Series)
parking_df.columns = ['CoveredParking', 'OpenParking']
parking_df

    CoveredParking OpenParking
0                0           1
1                2           1
2                0           0
3                0           0
4                2           0
5                1           1
6                1           0
7                1           0
8                1           1
9                1           1
10               1           1
11               1           1
12               1           1
13               0           1
14               0           1
15               0           1
16               0           1
17               1           1
18               0           1
19               0           0
20               0           2
21               0           1
22               0           0
23               1           1
24               1           0
25               1           1
26               0           1
27               0           1
28               0           1
29               0           1
30               0           1
31               1           0
32               1           0
33               1           0
34               1           0
35               0           1
36               1           0
37               1           1
38               1           0
39               2           0
40               1           1
41               1           1
42               0           0
43               0           0
44               1           1
45               1           1
46               0           0
47               1           1
48               1           1
49               1           1
50               1           1
51               1           1
52               1           1
53               1           1
54               1           1
55               1           1
56               1           1
57               1           1
58               1           1
59               1           1
60               1           1
61               1           1
62               2           1
63               1           0
64               1           0
65               1           1
66               1           1
67               1           1
68               1           1
69               1           0
70               1           0
71               1           0
72               1           0
73               1           0
74               1           0
75               1           0
76               1           0
77               1           1
78               1           0
79               1           0
80               1           0
81               0           1
82               0           1
83               0           1
84               0           1
85               0           1
86               0           1
87               2           0
88               1           0
89               2           0
90               2           0
91               0           1
92               0           1
93               0           1
94               0           1
95               0           1
96               0           1
97               0           1
98               0           1
99               0           1
100              0           0
101              0           1
102              0           1
103              0           1
104              0           1
105              0           1
106              0           1
107              0           1
108              0           1
109              0           1
110              2           0
111              2           0
112              0           1
113              0           1
114              0           1
115              0           1
116              0           1
117              0           1
118              0           1
119              0           1
120              0           1
121              0           1
122              0           1
123              0           1
124              0           1
125              0           1
126              0           1
127              0           1
128              0           1
129              0           1
130              0           1
131              0           1
132              0           1
133              0           1
134              0           1
135              0           1
136              0           1
137              0           1
138              0           1
139              0           1
140              0           1
141              0           1
142              0           1
143              0           1
144              0           1
145              0           1
146              2           0
147              0           1
148              0           1
149              0           1
150              0           1
151              0           1
152              0           1
153              0           1
154              0           1
155              0           1
156              0           1
157              0           1
158              0           1
159              0           1
160              0           1
161              0           1
162              0           1
163              0           1
164              0           1
165              0           1
166              0           1
167              0           1
168              0           1
169              0           1
170              0           1
171              0           1
172              0           1
173              0           1
174              0           1
175              0           1
176              0           1
177              0           1
178              0           1
179              2           0
180              2           0
181              1           1
182              1           1
183              1           1
184              2           2
185              2           2
186              1           1
187              1           1
188              1           1
189              1           1
190              1           1
191              1           1
192              1           1
193              1           1
194              1           1
195              1           0
196             10           4
197              1           0
198              1           1
199              0           0
200              1           1
201              1           1
202              4           0
203              0           2
204              1           0
205              1           0
206              0           1
207              2           0
208              1           2
209              1           2
210              1           1
211              0           1
212              2           1
213              1           0
214              0           1
215              2           1
216              1           0
217              2           0
218              4           2
219              2           0
220              2           0
221              1           1
222              0           0
223              1           1
224              0           2
225              2           0
226              0           1
227              1           0
228              2           2
229              2           2
230              1           1
231              0           1
232              2           2
233              1           0
234              1           1
235              1           0
236              0          20
237              0           3
238              0           0
239              0           1
240              0           2
241              2           0
242              0           1
243              1           0
244              0           2
245              0           2
246              1           1
247              4           4
248              1           1
249              1           0
250              0           1
251              0           2
252              3           2
253              0           2
254              2           0
255              1           0
256              0           0
257              2           0
258              0           1
259              1           0
260              2           0
261              2           0
262              0           1
263              1           1
264              1           0
265              1           1
266              1           1
267              1           0
268              2           0
269              2           2
270              0           0
271              0           0
272              2           2
273              1           1
274              2           1
275              1           0
276              2           2
277              2           2
278              1           1
279              1           1
280              1           0
281              1           0
282              1           0
283              0           2
284              1           0
285              1           1
286              1           1
287              3           9
288              1           0
289              1           0
290              1           1
291              2           1
292              2           2
293              2           2
294              2           2
295              2           2
296              1           0
297              1           1
298              1           2
299              1           1
300              2           2
301              2           2
302              0           0
303              2           0
304              0           2
305              0           1
306              2           2
307              0           0
308              3           2
309              2           2
310              2           2
311              1           1
312              1           1
313              1           1
314              1           1
315              1           1
316              0           0
317              2           1
318              2           0
319              2           0
320              2           0
321              0           1
322              1           2
323              1           2
324              1           2
325              1           2
326              1           0
327              1           0
328              1           0
329              1           0
330              1           2
331              0           2
332              1           1
333              1           0
334              1           3
335              1           1
336              1           0
337              0           0
338              0           2
339              0           1
340              1           0
341              1           1
342              3           2
343              3           1
344              1           0
345              1           0
346              0           1
347              0           1
348              1           0
349              2           0
350              2           0
351              3           2
352              1           2
353              3           2
354              1           1
355              2           2
356              1           2
357              1           1
358              1           1
359              2           2
360              1           1
361              2           2
362              1           2
363              2           2
364              2           2
365              2           2
366              1           2
367              1           2
368              2           3
369              2           2
370              2           2
371              1           2
372              2           2
373              2           2
374              2           2
375              2           2
376              1           1
377              1           1
378              0           0
379              2           1
380              2           1
381              3           1
382              2           1
383              2           1
384              1           1
385              1           0
386              1           1
387              1           1
388              0           0
389              1           1
390              1           1
391              2           2
392              1           1
393              1           2
394              1           0
395              0           1
396              0           1
397              0           1
398              0           1
399              0           1
400              0           1
401              0           1
402              0           1
403              0           2
404              0           1
405              0           1
406              0           1
407              2           0
408              0           1
409              1           1
410              1           1
411              1           1
412              1           1
413              1           1
414              1           1
415              1           1
416              2           2
417              2           0
418              1           1
419              1           1
420              1           2
421              2           2
422              0           0
423              1           1
424              1           0
425              1           0
426              1           1
427              1           0
428              1           1
429              1           1
430              1           1
431              1           1
432              0           0
433              1           1
434              2           0
435              2           2
436              1           1
437              2           1
438              1           0
439              1           0
440              0           0
441              1           0
442              0           0
443              2           4
444              2           0
445              0           0
446              0           0
447              1           1
448              1           0
449              1           0
450              2           2
451              1           0
452              2           2
453              1           1
454              2           2
455              3           2
456              2           1
457              3           3
458              2           6
459              1           1
460              1           4
461              2           0
462              2           0
463              2           1
464              2           0
465              2           0
466              1           0
467              1           1
468              1           0
469              0           1
470              1           1
471              2           0
472              1           0
473              1           1
474              1           1
475              1           1
476              1           1
477              1           1
478              1           1
479              2           2
480              2           2
481              2           2
482              1           1
483              1           1
484              1           0
485              0           0
486              1           1
487              1           1
488              1           1
489              1           1
490              2           1
491              1           1
492              0           0
493              2           2
494              0           0
495              1           1
496              1           1
497              1           1
498              1           1
499              1           1
500              1           1
501              1           1
502              1           1
503              1           1
504              1           1
505              1           1
506              1           1
507              1           1
508              1           1
509              1           1
510              1           1
511              1           1
512              1           1
513              1           1
514              1           1
515              1           1
516              1           1
517              1           1
518              1           1
519              1           1
520              1           0
521              1           1
522              1           0
523              2           0
524              1           0
525              1           1
526              3           0
527              0           0
528              0           1
529              0           1
530              0           1
531              0           1
532              2           0
533              0           1
534              0           1
535              0           1
536              0           1
537              0           1
538              0           1
539              0           1
540              0           1
541              0           1
542              2           0
543              2           0
544              2           0
545              0           1
546              0           1
547              0           1
548              2           0
549              2           0
550              2           0
551              2           0
552              0           1
553              0           1
554              1           1
555              2           4
556              1           1
557              1           2
558              2           2
559              2           2
560              1           2
561              1           2
562              1           1
563              1           2
564              1           2
565              1           2
566              1           2
567              1           2
568              1           2
569              1           2
570              1           2
571              1           2
572              1           2
573              1           1
574              1           2
575              2           0
576              2           0
577              2           1
578              2           1
579              1           2
580              1           2
581              1           2
582              1           1
583              1           1
584              1           2
585              1           2
586              1           1
587              1           1
588              1           2
589              1           2
590              3           3
591              2           2
592              1           2
593              1           2
594              1           2
595              2           2
596              1           2
597              2           2
598              3           4
599              3           3
600              2           0
601              1           1
602              1           1
603              1           1
604              1           1
605              0           0
606              1           2
607              1           1
608              1           2
609              1           2
610              2           0
611              2           2
612              1           2
613              1           1
614              0           2
615              1           1
616              1           2
617              1           1
618              1           2
619              0           2
620              1           1
621              2           1
623              1           1
624              1           1
625              1           1
626              0           0
627              0           0
628              0           1
629              2           0
630              1           1
631              2           0
632              2           2
633              1           1
634              0           0
635              1           1
636              0           2
637              2           0
638              0           1
639              0           0
640              2           0
641              1           2
642              1           2
643              1           2
644              1           1

In [188]:
df.insert(22,'OpenParking',value= parking_df['OpenParking'].values)

In [190]:
df.insert(22,'CoveredParking',value= parking_df['CoveredParking'].values)

In [191]:
df.drop(columns = 'Parking',inplace = True)

In [192]:
df.head()

,property_id,property_name,property_type,link,Society,address1,address2,PricePerUnit,area,area_unit,bedRoom,bathroom,balcony,additionalRoom,facing,FloorNo,TotalFloors,Overlooking,agePossession,Flooring,GatedCommunity,Furnishing,CoveredParking,OpenParking,RoadFacing,WaterSource,PowerBackup,WheelChairFriendly,PetFriendly,description,furnishDetails,features,price
0,W76639483,3BHK 3Baths,Independent/Builder Floor for Sale,https://www.99acres.com/3-bhk-bedroom-independ...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","8,000 per sq.ft.",Super Built up area 1750(162.58 sq.m.) sq.ft.,sq.ft.,3,3,3,Store Room,East,2,2,Main Road,ModOld,Ceramic,Yes,Unfurnished,0,1,80.0,24*7 Water,Full,NaN,No,Located in the foothills of the shivalik range...,NaN,"['Security / Fire Alarm', 'Maintenance Staff',...",1.40
1,J75852183,3BHK 3Baths,Independent/Builder Floor for Sale,https://www.99acres.com/3-bhk-bedroom-independ...,NaN,"pkl, Sector 7 Panchkula, Panchkula, Haryana","Sector 7 Panchkula, Panchkula, Haryana","15,806 per sq.ft.",Super Built up area 1800(167.23 sq.m.)Carpet a...,sq.ft.,3,3,2,NaN,South-West,4,4,Main Road,RelNew,Marble,No,Semifurnished,2,1,50.0,Municipal corporation,NaN,NaN,No,On prime b road right next to chandigarh entry...,"['3 Wardrobe', '7 Fan', '1 Exhaust Fan', '6 Li...","['Water Storage', 'Rain Water Harvesting']",2.45
2,M75685609,3BHK 3Baths,Flat/Apartment for Sale,https://www.99acres.com/3-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","7,714 per sq.ft.",Super Built up area 1750(162.58 sq.m.) sq.ft.,sq.ft.,3,3,2,Servant Room,NaN,1,2,NaN,RelNew,NaN,No,Semifurnished,0,0,NaN,NaN,NaN,NaN,No,This 3 bhk apartment is available for sale in ...,"['2 Wardrobe', '1 Modular Kitchen', 'No AC', '...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...",1.35
3,O75685647,3BHK 3Baths,Flat/Apartment for Sale,https://www.99acres.com/3-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","9,714 per sq.ft.",Super Built up area 1575(146.32 sq.m.) sq.ft.,sq.ft.,3,3,2,Servant Room,NaN,0,2,NaN,RelNew,NaN,No,Semifurnished,0,0,NaN,NaN,NaN,NaN,No,This 3 bhk apartment is available for sale in ...,"['2 Wardrobe', '1 Modular Kitchen', 'No AC', '...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...",1.70
4,W75986869,4BHK 1Bath,Flat/Apartment for Sale,https://www.99acres.com/4-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","13,461 per sq.ft.",Carpet area: 2600 (241.55 sq.m.) sq.ft.,sq.ft.,4,1,3,NaN,NaN,2,4,"Club,Others,Park/Garden,Pool",New,Marble,Yes,NaN,2,0,50.0,"24*7 Water,Borewell/Tank,Municipal corporation",Full,Yes,Yes,This beautiful 4 bhk flat in sector 3 panchkul...,[],"['Lift(s)', 'High Ceiling Height', 'False Ceil...",3.50

In [198]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 714
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   property_id         714 non-null    object
 1   property_name       714 non-null    object
 2   property_type       714 non-null    object
 3   link                714 non-null    object
 4   Society             269 non-null    object
 5   address1            714 non-null    object
 6   address2            714 non-null    object
 7   PricePerUnit        714 non-null    object
 8   area                714 non-null    object
 9   area_unit           714 non-null    object
 10  bedRoom             714 non-null    int32
 11  bathroom            714 non-null    int32
 12  balcony             714 non-null    int32
 13  additionalRoom      530 non-null    object
 14  facing              516 non-null    object
 15  FloorNo             714 non-null    int32
 16  TotalFloors         714 non-null    int32
 17  Overlooking         544 non-null    object
 18  agePossession       714 non-null    object
 19  Flooring            531 non-null    object
 20  GatedCommunity      714 non-null    object
 21  Furnishing          682 non-null    object
 22  CoveredParking      714 non-null    int32
 23  OpenParking         714 non-null    int32
 24  RoadFacing          391 non-null    float64
 25  WaterSource         616 non-null    object
 26  PowerBackup         475 non-null    object
 27  WheelChairFriendly  182 non-null    object
 28  PetFriendly         714 non-null    object
 29  description         714 non-null    object
 30  furnishDetails      473 non-null    object
 31  features            665 non-null    object
 32  price               714 non-null    float64
dtypes: float64(2), int32(7), object(24)
memory usage: 170.1+ KB

In [194]:
df['OpenParking'] = df['OpenParking'].astype(int)

In [195]:
df['CoveredParking'] = df['CoveredParking'].astype(int)

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 714
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   property_id         714 non-null    object
 1   property_name       714 non-null    object
 2   property_type       714 non-null    object
 3   link                714 non-null    object
 4   Society             269 non-null    object
 5   address1            714 non-null    object
 6   address2            714 non-null    object
 7   PricePerUnit        714 non-null    object
 8   area                714 non-null    object
 9   area_unit           714 non-null    object
 10  bedRoom             714 non-null    int32
 11  bathroom            714 non-null    int32
 12  balcony             714 non-null    int32
 13  additionalRoom      530 non-null    object
 14  facing              516 non-null    object
 15  FloorNo             714 non-null    int32
 16  TotalFloors         714 non-null    int32
 17  Overlooking         544 non-null    object
 18  agePossession       714 non-null    object
 19  Flooring            531 non-null    object
 20  GatedCommunity      714 non-null    object
 21  Furnishing          682 non-null    object
 22  CoveredParking      714 non-null    int32
 23  OpenParking         714 non-null    int32
 24  RoadFacing          391 non-null    float64
 25  WaterSource         616 non-null    object
 26  PowerBackup         475 non-null    object
 27  WheelChairFriendly  182 non-null    object
 28  PetFriendly         714 non-null    object
 29  description         714 non-null    object
 30  furnishDetails      473 non-null    object
 31  features            665 non-null    object
 32  price               714 non-null    float64
dtypes: float64(2), int32(7), object(24)
memory usage: 170.1+ KB

### PowerBackup

In [200]:
df['PowerBackup'].value_counts()

PowerBackup
Full       401
Partial     74
Name: count, dtype: int64

In [201]:
df['PowerBackup'].isna().sum()

239

### Property Type

In [202]:
df['property_type'].value_counts()

property_type
Flat/Apartment for Sale               419
Independent/Builder Floor for Sale    295
Name: count, dtype: int64

In [203]:
def prop_type_func(x):
    if pd.notna(x):
        if x == 'Independent/Builder Floor for Sale':
            return 'Builder Floor'
        elif x == 'Flat/Apartment for Sale':
            return 'Flat/Apartment'
    else:
        return x

In [204]:
df['property_type'] = df['property_type'].apply(prop_type_func)

In [205]:
df.head()

,property_id,property_name,property_type,link,Society,address1,address2,PricePerUnit,area,area_unit,bedRoom,bathroom,balcony,additionalRoom,facing,FloorNo,TotalFloors,Overlooking,agePossession,Flooring,GatedCommunity,Furnishing,CoveredParking,OpenParking,RoadFacing,WaterSource,PowerBackup,WheelChairFriendly,PetFriendly,description,furnishDetails,features,price
0,W76639483,3BHK 3Baths,Builder Floor,https://www.99acres.com/3-bhk-bedroom-independ...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","8,000 per sq.ft.",Super Built up area 1750(162.58 sq.m.) sq.ft.,sq.ft.,3,3,3,Store Room,East,2,2,Main Road,ModOld,Ceramic,Yes,Unfurnished,0,1,80.0,24*7 Water,Full,NaN,No,Located in the foothills of the shivalik range...,NaN,"['Security / Fire Alarm', 'Maintenance Staff',...",1.40
1,J75852183,3BHK 3Baths,Builder Floor,https://www.99acres.com/3-bhk-bedroom-independ...,NaN,"pkl, Sector 7 Panchkula, Panchkula, Haryana","Sector 7 Panchkula, Panchkula, Haryana","15,806 per sq.ft.",Super Built up area 1800(167.23 sq.m.)Carpet a...,sq.ft.,3,3,2,NaN,South-West,4,4,Main Road,RelNew,Marble,No,Semifurnished,2,1,50.0,Municipal corporation,NaN,NaN,No,On prime b road right next to chandigarh entry...,"['3 Wardrobe', '7 Fan', '1 Exhaust Fan', '6 Li...","['Water Storage', 'Rain Water Harvesting']",2.45
2,M75685609,3BHK 3Baths,Flat/Apartment,https://www.99acres.com/3-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","7,714 per sq.ft.",Super Built up area 1750(162.58 sq.m.) sq.ft.,sq.ft.,3,3,2,Servant Room,NaN,1,2,NaN,RelNew,NaN,No,Semifurnished,0,0,NaN,NaN,NaN,NaN,No,This 3 bhk apartment is available for sale in ...,"['2 Wardrobe', '1 Modular Kitchen', 'No AC', '...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...",1.35
3,O75685647,3BHK 3Baths,Flat/Apartment,https://www.99acres.com/3-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","9,714 per sq.ft.",Super Built up area 1575(146.32 sq.m.) sq.ft.,sq.ft.,3,3,2,Servant Room,NaN,0,2,NaN,RelNew,NaN,No,Semifurnished,0,0,NaN,NaN,NaN,NaN,No,This 3 bhk apartment is available for sale in ...,"['2 Wardrobe', '1 Modular Kitchen', 'No AC', '...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...",1.70
4,W75986869,4BHK 1Bath,Flat/Apartment,https://www.99acres.com/4-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","13,461 per sq.ft.",Carpet area: 2600 (241.55 sq.m.) sq.ft.,sq.ft.,4,1,3,NaN,NaN,2,4,"Club,Others,Park/Garden,Pool",New,Marble,Yes,NaN,2,0,50.0,"24*7 Water,Borewell/Tank,Municipal corporation",Full,Yes,Yes,This beautiful 4 bhk flat in sector 3 panchkul...,[],"['Lift(s)', 'High Ceiling Height', 'False Ceil...",3.50

### WheelChairFriendly

In [206]:
df['WheelChairFriendly'].value_counts()

WheelChairFriendly
Yes    182
Name: count, dtype: int64

In [207]:
df['WheelChairFriendly'].fillna('No',inplace = True)

In [208]:
df['WheelChairFriendly'].value_counts()

WheelChairFriendly
No     532
Yes    182
Name: count, dtype: int64

In [209]:
df.head()

,property_id,property_name,property_type,link,Society,address1,address2,PricePerUnit,area,area_unit,bedRoom,bathroom,balcony,additionalRoom,facing,FloorNo,TotalFloors,Overlooking,agePossession,Flooring,GatedCommunity,Furnishing,CoveredParking,OpenParking,RoadFacing,WaterSource,PowerBackup,WheelChairFriendly,PetFriendly,description,furnishDetails,features,price
0,W76639483,3BHK 3Baths,Builder Floor,https://www.99acres.com/3-bhk-bedroom-independ...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","8,000 per sq.ft.",Super Built up area 1750(162.58 sq.m.) sq.ft.,sq.ft.,3,3,3,Store Room,East,2,2,Main Road,ModOld,Ceramic,Yes,Unfurnished,0,1,80.0,24*7 Water,Full,No,No,Located in the foothills of the shivalik range...,NaN,"['Security / Fire Alarm', 'Maintenance Staff',...",1.40
1,J75852183,3BHK 3Baths,Builder Floor,https://www.99acres.com/3-bhk-bedroom-independ...,NaN,"pkl, Sector 7 Panchkula, Panchkula, Haryana","Sector 7 Panchkula, Panchkula, Haryana","15,806 per sq.ft.",Super Built up area 1800(167.23 sq.m.)Carpet a...,sq.ft.,3,3,2,NaN,South-West,4,4,Main Road,RelNew,Marble,No,Semifurnished,2,1,50.0,Municipal corporation,NaN,No,No,On prime b road right next to chandigarh entry...,"['3 Wardrobe', '7 Fan', '1 Exhaust Fan', '6 Li...","['Water Storage', 'Rain Water Harvesting']",2.45
2,M75685609,3BHK 3Baths,Flat/Apartment,https://www.99acres.com/3-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","7,714 per sq.ft.",Super Built up area 1750(162.58 sq.m.) sq.ft.,sq.ft.,3,3,2,Servant Room,NaN,1,2,NaN,RelNew,NaN,No,Semifurnished,0,0,NaN,NaN,NaN,No,No,This 3 bhk apartment is available for sale in ...,"['2 Wardrobe', '1 Modular Kitchen', 'No AC', '...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...",1.35
3,O75685647,3BHK 3Baths,Flat/Apartment,https://www.99acres.com/3-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","9,714 per sq.ft.",Super Built up area 1575(146.32 sq.m.) sq.ft.,sq.ft.,3,3,2,Servant Room,NaN,0,2,NaN,RelNew,NaN,No,Semifurnished,0,0,NaN,NaN,NaN,No,No,This 3 bhk apartment is available for sale in ...,"['2 Wardrobe', '1 Modular Kitchen', 'No AC', '...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...",1.70
4,W75986869,4BHK 1Bath,Flat/Apartment,https://www.99acres.com/4-bhk-bedroom-apartmen...,DLF The Valley,"DLF The Valley, Sector 3 Panchkula, Panchkula,...","Sector 3 Panchkula, Panchkula, Haryana","13,461 per sq.ft.",Carpet area: 2600 (241.55 sq.m.) sq.ft.,sq.ft.,4,1,3,NaN,NaN,2,4,"Club,Others,Park/Garden,Pool",New,Marble,Yes,NaN,2,0,50.0,"24*7 Water,Borewell/Tank,Municipal corporation",Full,Yes,Yes,This beautiful 4 bhk flat in sector 3 panchkul...,[],"['Lift(s)', 'High Ceiling Height', 'False Ceil...",3.50

In [195]:
#ind_chd_safe = df.copy()

In [196]:
#ind_pkl_safe = df.copy()

In [210]:
#df.to_csv('data/clean/flats-pkl-clean-v1.csv',index = False)